@import "../all.scss";


body {
  background-color: #0c0d18;
}

/* 歡迎會員 字體大小、字型位置 */
.welcome {
  padding: 15vh 250px 0px 250px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.spacedinfo {
  line-height: 30px;
}

p {
  float: left;
}

.account_hi, .account_logo {
  font-size: 20px;
}

.account_hi, .account_acnum {
  font-family: "Microsoft JhengHei";
}

.account_logo, .account_numlogo {
  font-family: "Nasalization";
  letter-spacing: 5px;
}

.account_num {
  font-family: "adobe-std-b";
  letter-spacing: 3px;
}

.account_numlogo, .account_acnum, .account_num {
  font-size: 14px;
  color: #ffff;
}

img.account_levimg {
  max-width: 55px;
  padding-left: 20px;
}

/* 會員卡片 */
.account_card {
  border: 1px solid #AD6E4A;
  background-color: #292b41;
  margin: 30px 250px 0px 250px;
  padding: 30px;
  border-radius: 10px;
}

/* 會員卡片內容 */
.account_now {
  /* border: 1px solid red; */
}

.your_lev {
  /* border: 1px solid red; */
}

/* 目前累積等級、星球、景點、宇宙幣 */
img.littleline {
  max-width: 50%;
}

.lev_name, .account_total, .account_money {
  font-family: "Microsoft JhengHei";
  font-size: 14px;
  letter-spacing: 1px;
}

.account_total, .account_money {
  color: #ffffff;
}

.accnum {
  font-family: "Nasalization";
}

.accmoney {
  font-family: "adobe-std-b";
  letter-spacing: 2px;
}

/*  12個月內累積 */
.lev_acc {
  font-family: "Microsoft JhengHei";
  letter-spacing: 2px;
  margin-top: 30px;
  margin-left: 75px;
  margin-bottom: 20px;
  /* border: 1px solid red; */
}

img.nowlev, img.nextlev {
  max-width: 50%;
}

.account_rocket {
  max-width: 5%;
}

.next_rocket {
  margin-left: -50px;
  margin-top: 60px;
}

.your_acc {
  display: flex;
}

.now_lev {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: left; */
}

.next_lev {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: right; */
}

p.nextacc, p.nowacc {
  float: left;
  letter-spacing: 1px;
  line-height: 20px;
  font-family: "Microsoft JhengHei";
  font-size: 14px;
}

/* 會員menu */
.account_nav {
  margin: 50px 250px 0px 250px;
  border-bottom: none;
}
.account_nav a {
  color: #C9ADA7;
}
// .account_nav a:focus {
//   color: #AD6E4A;
//   border-bottom: 3px solid #AD6E4A;
// }
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover, .nav-tabs .nav-link.active{
  color: #AD6E4A;
  background: none;
  border: none;
  border-bottom: 3px solid #AD6E4A;
}
.account_line {
  margin: 0px 250px 0px 250px;
  background-color: #AD6E4A;
}



/* 會員資料 */
.info_form {
  margin: 0px 200px 0px 200px;
  padding: 30px 80px 0px 80px;
  border-radius: 10px;
  height: auto;
  font-family: "Microsoft JhengHei";
  font-size: 12px;
  color: #C9ADA7;
}
// 圖片大小
.infoimg {
  max-width: 100px;
}
// 表單距離
.info_img {
  margin: 5px 20px 0px 0px;
}
.info_left, .info_right, .info_edit {
  margin: 25px 10px 0px 10px ;
}
.form-group, label {
  margin-top: 10px;
  margin-bottom: 5px;
}

// 編輯資料樣式
input.form-control {
  width: 85%;
  height: 20px;
  border: 0.5px solid rgba(173,110,74,0.6);
  background-color: none;
  color: #ffffff;
  font-family: "Microsoft JhengHei";
  font-size: 14px;
}
.form-control:focus {
  border-color: #cccaca;
  outline: none;
  box-shadow: none;
}
.form-control-plaintext{
  width: 85%;
  height: 20px;
  border: 0.5px solid rgba(173,110,74,0.6);
  background: none;
  color: #ffffff;
  font-family: "Microsoft JhengHei";
  font-size: 14px;
  padding: .375rem .75rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: .25rem;
}
input.form-control-plaintext:focus{
  border-color: #cccaca;
  outline: none;
  box-shadow: none;
}

// 編輯資料按鈕 // 收藏按鈕
.info_editbtn, .heartbtn {
  font-family: "Microsoft JhengHei";
  font-size: 12px;
  color: #ffff;
  border: 1px solid #AD6E4A;
  background: none;
  border-radius: 0px;
  width: 80%;
  margin-left: 50px;
}
.info_editbtn:hover, .heartbtns:hover {
  color: #ffff;
  border: 1px solid #AD6E4A;
  background: #AD6E4A;
}
.btn-check:focus + .btn, .btn:focus {
  outline: 0;
  box-shadow: none;
  color: #ffffff;
  background: #AD6E4A;
}

// 收藏按鈕
.container_heart{
  padding: 30px 800px 0px 270px;
}
.heartbtn{
  max-width: 100%;
  margin-left: 10px;
}



/* footer */
footer {
  padding-top: 80px;
}





