@import "../all.scss";
@import "../pages/photowall.scss";
@import "../pages/shop.scss";
@import "../pages/alltrip.scss";



body {
  background-color: #0c0d18;
}

/* 歡迎會員 字體大小、字型位置 */
.welcome {
  padding: 15vh 250px 0px 250px;
  display: flex;
  align-items: center;
  justify-content: left;
}
.spacedinfo {
  line-height: 30px;
}

// 控制<p>不斷行
.spacedinfo p, .nowstate p, .exchange p, .exchange input {
  float: left;
}
.account_hi, .account_logo {
  font-size: 20px;
}
.account_hi, .account_acnum {
  font-family: "Microsoft JhengHei";
}
.account_logo, .account_numlogo {
  font-family: "Nasalization";
  letter-spacing: 5px;
}
.account_num {
  font-family: "adobe-std-b";
  letter-spacing: 3px;
}
.account_numlogo, .account_acnum, .account_num {
  font-size: 14px;
  color: #ffff;
}
img.account_levimg {
  max-width: 55px;
  padding-left: 20px;
}

/* 會員卡片 */
.account_card {
  border: 1px solid #AD6E4A;
  background-color: #292b41;
  margin: 30px 250px 0px 250px;
  padding: 30px;
  border-radius: 10px;
}

/* 目前累積等級、星球、景點、宇宙幣 */
img.littleline {
  max-width: 50%;
}
.lev_name, .account_total, .account_money {
  font-family: "Microsoft JhengHei";
  font-size: 14px;
  letter-spacing: 1px;
}
.account_total, .account_money {
  color: #ffffff;
}
.accnum {
  font-family: "Nasalization";
}
.accmoney {
  font-family: "adobe-std-b";
  letter-spacing: 2px;
}

/*  12個月內累積 */
.lev_acc {
  font-family: "Microsoft JhengHei";
  letter-spacing: 2px;
  margin-top: 30px;
  margin-left: 75px;
  margin-bottom: 20px;
  /* border: 1px solid red; */
}
img.nowlev, img.nextlev {
  max-width: 50%;
}
.account_rocket {
  max-width: 5%;
}
.next_rocket {
  margin-left: -50px;
  margin-top: 60px;
}
.your_acc {
  display: flex;
}
.now_lev {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: left; */
}
.next_lev {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: right; */
}
p.nextacc, p.nowacc {
  float: left;
  letter-spacing: 1px;
  line-height: 20px;
  font-family: "Microsoft JhengHei";
  font-size: 14px;
}



/* 會員menu */
.account_nav {
  margin: 50px 250px 0px 250px;
  border-bottom: none;
}
.account_nav a {
  color: #C9ADA7;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover, .nav-tabs .nav-link.active {
  color: #AD6E4A;
  background: none;
  border: none;
  border-bottom: 3px solid #AD6E4A;
}
.account_line {
  margin: 0px 250px 0px 250px;
  background-color: #AD6E4A;
}


/* 會員資料 */
.info_form {
  margin: 0px 200px 0px 200px;
  padding: 30px 80px 0px 80px;
  border-radius: 10px;
  height: auto;
  font-family: "Microsoft JhengHei";
  font-size: 12px;
  color: #C9ADA7;
}
.circle-image{
  width:120px; 
  height:120px; 
  border-radius:50%; 
  overflow:hidden;
  // 圖片大小
  .infoimg {
    width: 100%;
    height: 100%;
  }
}

// 表單距離
.info_img {
  margin: 5px 50px 0px 0px;
  .img_input{
    margin: 15px 0px 0px 0px;
  }
}
.info_left, .info_right, .info_edit {
  margin: 25px 10px 0px 10px;
}
.form-group, label {
  margin-top: 10px;
  margin-bottom: 5px;
}
.center{
  margin: 0 auto;
  float: none;
}

// 編輯資料樣式
.form, .unform {
  width: 85%;
  height: 20px;
  border: 0.5px solid rgba(173, 110, 74, 0.6);
  background: none;
  color: #ffffff;
  font-family: "Microsoft JhengHei";
  font-size: 14px;
  padding: .375rem .75rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: .25rem;
}
.form:focus {
  border-color: #cccaca;
  outline: none;
  box-shadow: none;
}

// 編輯資料按鈕 // 收藏按鈕 // 互動管理按鈕 // 轉換積分按鈕
.info_editbtn, .pointbtn, .img_input {
  font-family: "Microsoft JhengHei";
  font-size: 12px;
  color: #ffff;
  border: 1px solid #AD6E4A;
  background: none;
  border-radius: 0px;
  width: 90px;
  margin-left: 50px;
  margin-bottom: 10px;
}
.info_editbtn:hover, .heartbtns:hover, .postbtns:hover, .pointbtn:hover, .img_input:hover, .heartbtns.active {
  color: #ffff;
  border: 1px solid #AD6E4A;
  background: #AD6E4A;
}
.info_editbtn:focus+.btn-primary, .heartbtns:focus, .btn-primary:focus, .postbtns:focus, .pointbtn:focus, .img_input:focus {
  color: #fff;
  background-color: #AD6E4A;
  border-color: #AD6E4A;
  box-shadow: none;
}
.hideinput{
  display: none;
}


// 互動牆管理按鈕 // 收藏按鈕 // 所有放在分頁內按鈕控制
.heart_btns, .post_btns {
  padding: 0px 0px 0px 270px;
}
.heartbtns, .postbtns, .orderbtns {
  width: 90px;
  margin-left: 10px;
  font-family: "Microsoft JhengHei";
  font-size: 12px;
  color: #ffff;
  border: 1px solid #AD6E4A;
  background: none;
  border-radius: 0px;
  a{
    color: $white;
  }
}
.orderbtns {
  width: 120px;
}

// 行程管理
.tripcontent, .ordercontent {
  margin-left: 10px;
}

.dropdown_menu {
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: .5rem 0;
  margin: 2px 10px 10px 10px;
  text-align: left;
  list-style: none;
  background-color: $darkblue;
  background-clip: padding-box;
  border: 1px solid $gold;
  border-radius: 0px;
}
.dropdown_item {
  display: block;
  // width: 100%;
  padding: .25rem 1rem;
  clear: both;
  font-weight: 400;
  color: $white;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
a:hover {
  color: $gold;
}


.table {
	width: 100%;
  font-family: "Microsoft JhengHei";
	caption {
    text-align: left;
	}
  span {
    color: $pink;
  }
  span.num{
    color: $gray;
    margin-left: 15px;
    line-height: 20px;
  }
	thead, td {
		border: 1px solid #292b41;
		padding: 8px 15px;
	}
  th {
    padding: 8px 15px;
  }
	table {
		width: 100%;
		thead {
			color: $white;
		}
    .table_title{
      background-color: #292b41;

    }
		tbody {
      color: $gray;
			// tr:hover {
			// 	background-color: #ffc4c4;
			// 	transition: all 0.5s;
			// 	cursor: pointer;
		}
	}
  .orderdetail {
    display: flex;
    align-items: center;
    img {
      width: 18px;
      margin-right: 5px;
    }
  }
  .detail-open {
    display: none;
  }
}

  //日期按鈕
  .btn-date {
    letter-spacing: 2px;
    padding: 0 5px;
    border: 1px solid $gold;
    color: $gold;
    background-color: $darkblue;
    height: 25px;
    text-align: center;
    width: 180px;
  }

  // 向下箭頭
  ::-webkit-calendar-picker-indicator {
    color: $gold;
    background-image: url(../../img/date-chevron-down.svg);
    width: 15px;
    height: 25px;
    position: relative;
    top: 5px;
  }





// 收藏內容、互動管理、訂單、行程內容 控制在270px內
 .product_card, .tripcontent, .ordercontent, .pointcontent {
  padding: 0px 270px 20px 270px;
}
// 收藏行程內容 控制在270px內
.heart_tripcard {
  padding: 0px 200px 100px 200px;
}
// 收藏貼文內容 控制在270px內
.post_card {
  padding: 0px 250px 100px 250px;
}
.grid{
  margin-top: 32px
}
.grid-item {
  margin: 0px 12.5px 25px 12.5px;
}


// 轉換積分
.nowstate {
  font-family: "Microsoft JhengHei";
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 2px;
}
.nowstate .point, .nowstate .level{
  color: #fff;
  padding: 0px 10px 0px 10px; 
}

.exchange, .point_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

input.form-control.point_input, input.form-control-plaintext.point_input {
  width: 120px;
  height: 20px;
  border: 0.5px solid rgba(173, 110, 74, 0.6);
  background: none;
  color: #ffffff;
  font-family: "Microsoft JhengHei";
  font-size: 14px;
  padding: .375rem .75rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: .25rem;
  margin: 0px 15px 0px 15px;
}
input.form-control.point_input:focus, input.form-control-plaintext.point_input:focus {
  border-color: #cccaca;
  outline: none;
  box-shadow: none;
}
.point_btn{
  margin-top: 50px;
  height: auto;
  max-width: auto;
}








// 移除點擊時邊框陰影
.btn-check:focus+.btn, .btn:focus {
  outline: 0;
  box-shadow: none;
}
// 移除滑鼠移除＆取消點擊時邊框
.nav-link {
  transition: none
}






/* footer */
footer {
  padding-top: 100px;
}




// 商品
.productAll {
  letter-spacing: 5px;

  @include respond(pad) {
    margin-left: 24px;
  }

  @include respond(mobile) {
    margin-left: 0px;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;

    @include respond(pad) {
      align-items: center;
      justify-content: space-between;
    }

    @include respond(mobile) {
      justify-content: center;
    }

    // border: 1px solid $pink;
    li {
      width: 30%;

      @include respond(pad) {
        width: 45%;
      }

      @include respond(mobile) {
        width: 100%;
      }

      // border: 1px solid #fff;
      a {
        padding: 10px 0 10px 0;
        @include flex_middle();
        flex-direction: column;
        background-color: rgba($color: #ffffff, $alpha: 0.9);
        color: black;

        img {
          width: 50%;
        }

        .item {
          text-align: left;
          width: 100%;
          @include flex_middle();
          justify-content: space-around;
          padding-top: 20px;

          // border: 1px solid #fff;
          .info {
            padding: 16px 0;

            .price {
              // color: $gold;
              font-weight: bold;
              font-family: "Nasalization";
            }
          }

          img {
            padding-top: 15px;
          }
        }
      }
    }
  }
}








