@import "../reset";
@import "../base";
@import "../header";
@import "../footer";

body {
    font-family: "Haettenschweiler", "Microsoft JhengHei", sans-serif;
    color: $pink;
    background-color: $darkblue;
    font-size: 14px;
}

div.bk {
    width: 500px;
    height: 500px;
    // border:1px solid red;
    position: absolute;
    left: 450px;
    top: 60px;
    opacity: 0.6;
}

div.bk2 {
    width: 1300px;
    height: 1300px;
    // border:1px solid red;
    position: absolute;
    left:59px;
    top: 730px;
    opacity: 0.03;
    transform:rotate(90deg);
}

div.bk3 {
    width: 300px;
    height: 300px;
    // border:1px solid red;
    position: absolute;
    left: -120px;
    top: 400px;
    opacity: 0.3;
}

.border{
    border: 1px solid $gold;
    margin:0px auto;
    width: 90%;
    height: 100%;
    top: 80px;
    position: absolute;
    opacity: 0.2;

    
}


// <!-- ----------first -->
.first{
    padding-left:150px;
}
.hottrip {
    display: inline-flex;
    padding-top: 160px;
    padding-bottom: 80px;
    overflow: hidden;
    max-width: 820px;
}

img {
    display: block;
}

h2.title {
    display: inline-block;
    padding-right: 80px;
    position: relative;
    vertical-align: top;
    top: 100px;
    letter-spacing: 10px;
    // font-size: 32px;
}

span.h4{
    font-size: 20px;
    font-weight:500;
    letter-spacing: 10px;
}

h3 {
    font-weight: bold;
}

div.planet_top {
    position: relative;
    padding-top: 100px;
    text-align: center;
    margin: 20px;
}

img.planet {
    height: 160px;
    position: absolute;
    top: 20px;
    left: 65px;

}

img.planet_a1 {
    max-width: 280px;
}

div.word {
    position: absolute;
    top: 190px;
    left: 95px;
}

div.price {
    background-color: #AD6E4A;
    letter-spacing: 3px;
    padding: 8px;
    width: 100px;
    margin: 0px auto;
    position: relative;
    top: -36px;
}

.select{
    position: relative;
    bottom:4px;
    color: $gold;

}
.tripselect{
    display: inline-flex;
    width:280px;
    justify-content: space-between;
}

.icon{
    width:25px;
    cursor: pointer;
    z-index: 2;
}



// <!-- ---------分隔線 -->

hr {
    border: none;
    width: 55%;
    margin: 0 auto;
    border-top: 1px solid $gold;
    height: 0;
}


// <!-- ---------second -->

.second {
    width: 60%;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom:150px;
}
.alltrip{
    margin: 0 auto;
    text-align: center;
}

.mars {
    display: inline-flex;
}

div.planet2 {
    position: relative;
    text-align: center;
    margin-right: 50px;
}


h2 {
    font-weight: bold;
}

img.planet2_pic {
    max-width: 240px;
}

div.price2 {
    background-color: #AD6E4A;
    letter-spacing: 3px;
    padding: 8px;
    width: 100px;
    position: relative;
    top: -36px;
    left: 70px;
}

.word2{
    position: relative;
    top: -25px;

}

.word2_name{
    font-weight: bold;
    color: $gold;
    letter-spacing: 3px;
    font-size: 16px;
}

.word2_tag{
    border: 1px solid $pink;
    // border-radius:5px;
    width: 50px;
    margin: 0 auto;
    color: $pink;
    font-size: 14px;
}

