@import "../all.scss";
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.padding-bottom-1{
    padding-bottom: 8px;
}

a:hover{
    color: #fff;
    background-color: lighten(#ad6e4a,10%);
}
#icon-gg{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items:flex-end;
    padding-bottom: 1.5%;
}
.container-fluid{
    max-width: 900px;
    padding: 0;
}
.row{
    margin: 0px;
}
//垃圾桶
.icon-g{
    max-width: 20px;
    max-height: 20px;
    object-fit: cover;
}
.car-top{
    min-height: 50vh;
    height: 100%;
    // padding-top: 15vh
}
body{
    background-color: #0c0d18;
    
}
.w-100{
    width: 100%;
}
//圖片對齊
.vvvvv{
    width: 16px;
    height: 16px;
    // vertical-align: middle;
}
// 表單背景色
.backcol{
    background-color: #292B41;
}
// 標題文字
.text-1{
    font-size: 18px;
    font-weight: 900;
    line-height: 80px;
}
// 內文標提
.p-text-1{
    font-weight: 900;
    font-size: 16px;
    color: #C9ADA7;
    margin: 0px;
    letter-spacing: 1px;
}
//內文文字
.p-text-2{
    font-size: 16px;
    color: #C9ADA7;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 20px;
}
.p-text-3{
    font-size: 14px;
    color: #C9ADA7;
    letter-spacing: 1px;
    font-weight: 700;
}
//行程用縮圖
.imgsr{
    // width: 100%;
    max-width: 100px;
    height: auto;
    // max-height: 100px;
    object-fit: cover;
}
//日期按鈕
.btn-date{
    outline: none;
    max-width: 125px;
    letter-spacing: 2px;
    padding: 0 5px;
    border: 1px solid #ad6e4a;
<<<<<<< HEAD
    color: #ad6e4a;
    background-color: #292B41;
    height: 30px;
=======
    // color: #ad6e4a;
    color: #C9ADA7;
    background-color: #292B41;
    // height: 25px;
>>>>>>> 0f160973f4b2bd5854ed4fa7625e61db6af80356
    text-align: center;
}
//input-icon日期替換
::-webkit-calendar-picker-indicator { 

    color:#ad6e4a; 
    // background-image: url(../../img/date-chevron-down.svg);
    background-image: url(../../img/date-chevron-down.svg);
    width: 20px;
    height: 20px;
    opacity: 1; 
} 
//加減按鈕
.btn-pull{
    color:#ad6e4a;
    background-color: #292B41;
<<<<<<< HEAD
    font-size: 24px;
=======
    // font-size: 24px;
>>>>>>> 0f160973f4b2bd5854ed4fa7625e61db6af80356
    border: 1px solid #ad6e4a;
    // width: 8px;
    height: 15px;
    line-height: 0px;
    padding:4px 8px 
}
// 數量的按鈕
.btn-nu{
    color:#ad6e4a;
    background-color: #292B41;
<<<<<<< HEAD
    font-size: 24px;
=======
>>>>>>> 0f160973f4b2bd5854ed4fa7625e61db6af80356
    border: 0px solid #ad6e4a;
    max-width: 50px;
    
    line-height: 0px;
    text-align: center; 
    outline: none;
}
// 文字間格
.letter-1{
    letter-spacing: 2px;
}
//結帳按鈕樣式
.btn-coin{
    background-color: #ad6e4a;
    color: #fff;
}
.coin-left{
    text-align: end;
    width: 70%;
    padding-right: 3%;
    
}
.coin-right{
    text-align: center;
    // text-align: end;
    // margin-right: 24px;
    width: 10%;
}
.row{
    justify-content: center;
    .allcoin{
            // padding: 16px 0px;
            padding-top: 16px;
            padding-bottom: 16px;
            display: flex;
            
            justify-content: center;
            // align-content: center;
            align-items: center;
            
    }
    .col-11{
        padding-left: 0px;
        padding-right: 0px;
        .row{
            display: flex;
            .datacol{
                padding: 16px 0px;
                display: flex;
<<<<<<< HEAD
                justify-content: space-around;
                padding: 2% 1%;
                // border-radius: 5px;
=======
                flex-direction: column;
                justify-content: center;
                align-items: center;
>>>>>>> 0f160973f4b2bd5854ed4fa7625e61db6af80356
                
            }
            .allcol{
                padding: 16px 0px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                // align-content: center;
                align-items: center;
                // justify-content: space-around;
                // padding: 2% 1%;
                // border-radius: 5px;
                
            }
        }
    }
}
@media (max-width:768px){
    .allcoin{
        flex-direction: column;
    }
    .coin-left{
        text-align: center;
    }
    
    .coin-right{
        width: 100%;
        margin-top: 16px;
        display: flex;
        justify-content: center;
        // align-items: flex-end;
        .btn-coin{
            width: 80%;
            
        }
    }
}

.checkout{
    width: 100%;
    background-color: #292B41;
    position: relative;
    @include flex_middle();
    justify-content: flex-end;
    padding: 16px 0;
    letter-spacing: 3px;
    @include respond(mobile){
        flex-direction: column;
    }
    .totalPrice{
        @include flex_middle();
        justify-content: flex-end;
        .h2{
            color: $gold;
            font-weight: 900;
        }
    }
    .totalIntegral{
        @include flex_middle();
        justify-content: flex-end;
    }
    .button_min{
        background-color: $gold;
        padding: 8px;
        margin-right: 7%;
        color: $white;
        @include respond(mobile){
            margin-top: 16px;
            width: 80%;
        }
    }
}