@import "../all.scss";

.container-fluid{
    padding: 0;
    margin: 0;
    @include respond(mobile){
        margin: 0;
    }
    background: $darkblue;
}

//=========header設定
nav{
    background: linear-gradient(-180deg, rgba(12,13,24,0.4489146000196954) 9%, rgba(12,13,24,0) 100%);
}

//=========背景影片
.video-bg{
    height: 100vh;
    overflow: hidden;
}
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255,255,255,0) 70%, rgba(12,13,24,1) 100%);
    z-index: 2;
    .overlay-off & {
        z-index: 0;
    }
}
      
@media only screen and ( max-width:1200px) {
    .banner_bg{
        height: 100vh;
    }
}
//=========整頁邊框

.frame{
    border: 1px solid #ad6e4a57;
    margin: 0 auto;
}


//=========按鈕
button{
    background-color: transparent;
    color: $gold;
    a{
        text-decoration: none;
        color: $gold;
    }
    &:hover{
        color: #ffff;
        border: 1px solid $gold;
        background: $gold;
        a{
            text-decoration: none;
            color: white;
        
        }
}
}

//=========首頁標語
.banner{
    position: absolute;
    top: 40%;
    left: 17%;
    @include respond(mobile){
        top: 25%;
        left: 5%;
    }
    .slogan {
        display: flex;
        justify-content: center;
        p{
            font-size: 7rem;
            color: white;
            font-family: "Haettenschweiler", sans-serif;
            letter-spacing:15px;
            // opacity: 0.8;
            box-shadow: grey;
            @include respond(mobile){
                font-size: 5rem;
                word-wrap: wrap;
            }
        }
    }
    .scroll{
        display: flex;
        justify-content: center;
        img{
            margin-top: 20%;
        }
    }
}

.home_intro{
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    h2{
        text-align: center;
    }
    h4{
        text-align: center;
    }
}


//=========流程
.stepsection{
    background-color: transparent;
    @include respond(mobile){
        flex-direction: column;
    }
}


//=========精選行程

.first_right {
    position: relative;
    display: flex;
    justify-content: center;

    @media all and (max-width:1200px) {
        overflow: hidden;
        width: 95%;
    }

    .hottrip {
        display: inline-flex;
        // padding-top: 80px;

        // @media screen and (min-width: 768px) and (max-width: 1200px) {
        //     padding-top: 120px;
        // }
        @media screen and (max-width: 767px) {
            flex-direction: column;
            margin: 0 auto;
            justify-content: space-between;
           
        }

        div.planet_top {
            position: relative;
            padding-top: 90px;
            text-align: center;
            width: 55%;
            padding-left: 24px;
            padding-right: 24px;
            
            &:hover{
                transform:translateY(0.2em);
                // box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
            }

            &.planet_top:nth-child(1) {
                animation: float 5s cubic-bezier(.1, .1, .88, .88) infinite;
            }

            &.planet_top:nth-child(2) {
                animation: float 5.5s cubic-bezier(.1, .1, .88, .88) infinite;
            }

            &.planet_top:nth-child(3) {
                animation: float 6s cubic-bezier(.1, .1, .88, .88) infinite;
            }

            &.planet_top:nth-child(4) {
                animation: float 6.5s cubic-bezier(.1, .1, .88, .88) infinite;
            }

            @media all and (max-width:1200px) {
                padding-left: 8px;
                padding-right: 8px;
            }

            h4 {
                color: $pink;
            }

            img.planet {
                height: 160px;
                position: absolute;
                top: 15px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 2;
                
            }

            img.planet_a1 {
                max-width: 270px;
                &:hover{
                    transform:translateY(0.2em);
                }
                
            }

            div.word {
                position: absolute;
                top: 190px;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                margin: 0 auto;

                .hot {
                    color: $gold;
                }

                .tag {
                    display: inline-flex;
                    border: 1px solid $gray;
                    border-radius: 5px;
                    padding: 8px;
                    line-height: 5px;
                    margin: 3px;
                    color: $gray;
                }

                .price {
                    color: $gold;
                    font-weight: bold;
                    letter-spacing: 2px;
                    margin-bottom: 8px;
                    font-family: "Nasalization";
                }

                .addin {
                    background-color: $gold;
                    color: $white;
                    border-radius: 15px;
                    width: 110px;
                    margin: 0 auto;
                    line-height: 26px;
                    text-align: center;
                    text-decoration: none;
                    border: none;
                    img.plus {
                        width: 15px;
                        display: inline-block;
                        position: relative;
                        top: 2px;
                        padding-right: 4px;
                    }

                }

                .addin:hover {
                    background-color: lighten($gold, 10%);
                }

            }
        }
    }
}
@include respond(mobile){
    .first_right .hottrip div.planet_top {
        width: 100%;
    }
    h3{
        width: 80%;
        margin: 0 auto;
        margin-top: 24px;
    }
}


//=========星球百科

canvas{
    // width: 100%;
    height: 100%;
    @include respond(pad){
        width: 100%;
    }
}
@media all and (max-width:1200px) {
    .planet_box{
        margin-top: 48px;
        color: $pink;
    }
    .separator{
        width: 90%;
    }
    .tab-active{
        margin-top: 32px;
    }
}


// ===============互動牆

.home_photowall{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    .tz-gallery {
        // padding: 40px;
        // margin: 0 ;
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

}    

// @media all and (max-width:997px) {
//     .topright{
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         .separator{
//             width: 80%;
//         }
//         .galleryIntro{
//             max-width: 460px;
//             min-width: 400px;
//         }
//     }
// }



// .home_photowall{
//     display: flex;
//     align-items: center;
//     .photowall_rwd{
//         display: none;
//     }
//     #photos {
//         // border:1px solid white;
//         /* Prevent vertical gaps */
//         line-height: 0;
         
//         -webkit-column-count: 3;
//         -webkit-column-gap:   0px;
//         -moz-column-count:    3;
//         -moz-column-gap:      0px;
//         column-count:         3;
//         column-gap:           0px;  
//       }
      
//       #photos img {
//         /* Just in case there are inline attributes */
//         width: 100% !important;
//         height: auto !important;
//       }
//       @media (max-width: 1200px) {
//         #photos {
//         -moz-column-count:    3;
//         -webkit-column-count: 3;
//         column-count:         3;
//         }
//       }
//       @media (max-width: 1000px) {
//         #photos {
//         -moz-column-count:    3;
//         -webkit-column-count: 3;
//         column-count:         3;
//         }
//       }
//       @media (max-width: 800px) {
//         #photos {
//         -moz-column-count:    2;
//         -webkit-column-count: 2;
//         column-count:         2;
//         }
//       }
//       @media (max-width: 700px) {
//         #photos {
//             display: none;
//         }
//         .photowall_rwd{
//             display: flex;
//         }
//       }

// }

//=========商城圖片
.shop_box{
    .home_shop{
        justify-content: center;
        display: flex;
        flex-direction: column;
        a{
            margin: 0 auto;
        }
        h2{
            margin: 0 auto;
        }

        .shopRWD{display: none;}
    
    
        @media all and (max-width:1200px) {
            .shopItem{
                display: none;
            }
            .shopRWD{
                display: flex;
                justify-content: center;
                .shop_carousel{
                    display: block;
                    background-color: $darkblue;
                    max-width: 500px;
                    .carousel-item{
                        background-color: $darkblue;
    
                        img{
                            max-height: 400px;
                            margin: 0 auto;
                        }
    
                    }
                }
            }
            .button_min{
                margin-top: 24px;
            }
        }
    }

}
.shopItem{
    display: block;
    max-height: 650px;
    min-width: 800px;
    margin: 0 auto;
    margin-top: 80px;
    // border: 1px solid green;
    //hover效果

    .hovereffect {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;
        background: #4e7192;
      }
      
      .hovereffect .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
      }
      
      .hovereffect img {
        display: block;
        position: relative;
        max-width: none;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(-10px,0,0);
        transform: translate3d(-10px,0,0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      
      .hovereffect:hover img {
        opacity: 0.4;
        filter: alpha(opacity=40);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
      }
                
      .hovereffect:hover h2:after, .hovereffect h4:after {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
      }
      
      .hovereffect a, .hovereffect h2, .hovereffect h4 {
        color: #FFF;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
      }
      
      .hovereffect:hover a, .hovereffect:hover h2, .hovereffect:hover h4 {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
      }
    //調位置
    .item1{
        .hovereffect{
            position: relative;
            left: 150px;
            z-index:1;
            min-width: 500px;
            max-width: 500px;
            max-height: 250px;
            img{
                max-width: 510px;
            }
        }
    }
    .item2{
        .hovereffect{
            position: relative;
            top: -150px;
            left: -80px;
            z-index: 1;
            max-height: 600px;
            max-width:250px;
            img{
                max-width:260px;
                height:350px;
            }
        }
    }
    .item3{
        .hovereffect{
            position: relative;
            left: 100px;
            bottom: 300px;
            max-height: 320px;
            width: 320px;
            img{
                max-width:410px;
            }
        }
    }
    .item4{
        .hovereffect{
            position: relative;
            z-index:1;
            bottom: 550px;
            left: 450px;
            max-height: 270px;
            width: 280px;
            img{
                max-width: 290px;

            }
        }
    }
    .item5{
        .hovereffect{
            // z-index:1;
            position: relative;
            bottom: 1000px;
            left: 550px;
            // transform: translate(260%,-310%);
            max-height: 350px;
            min-width: 350px;
            img{
                max-width: 400px;

            }
        }
    }

}

//=========會員待遇
.flow_member{
    display: flex;
    justify-content: center;
    flex-direction: column;

    .flowall{
        display: flex;
        justify-content: center;
        column-gap: 10%;

        .flow{
            display: flex;
            flex-direction: column;
            text-align: center;
            .flowTitle {
                color: $gold;   
            }
            img{
                max-width: 60px;
                max-height: 60px;
                margin: 0 auto;
            }
            .separator{
                height: 1px;
                width: 100%;
                border-top: solid 1px $gold;
            }
            h4{
                color: $pink;
                justify-items: center;
                line-height: 1.5rem;
            }

        }
    }
    .memberbtn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 70px;
    }
    @media all and (max-width:1200px) {
        .flowall{
            flex-direction: column;
            align-items: center;
            .flow .separator{
                width: 100%;
                
            }
        }
    }
}




//=========間距
.flow_member, .shop_box, .gallery{
    margin-top: 30vh;
}

