@import "../all.scss";


body {
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-image: url("https://user-images.githubusercontent.com/26748614/96337246-f14d4580-1085-11eb-8793-a86d929e034d.jpg");
  background-size: cover;
  backdrop-filter: brightness(50%);
}

canvas {
  display: absolute;
  z-index: -5;
}

#canvas_container {
  width: 100%;
  height: 100vh;
}


.link {
  position: absolute;
  
  left: 50%;
  top:45%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 5;
  a {
    border-radius: 10px;
    padding:16px;
    border: 0.5px solid $white;
    color: $white;
    text-decoration: none;
    max-width: 200px;
    font-size: 44px;
    margin: 20px 80px;
    transition: all .5s;
  }

  // a:hover {
  //   //   background-color: white;
  //   box-shadow: 0 0 28px 9px white inset;
  // }
}

.btn-4 {
  border: 1px solid;
  overflow: hidden;
  position: relative;
  
  span {
    z-index: 20;
  }
  
  &:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }
}

.btn-4:hover {
  
  &:after {
    left: 180%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.logo{
max-width: 300px;
display:block;
}