@import "../all.scss";

// header設定
nav{
    background-color: transparent;
}

.banner_bg{
    background: -webkit-linear-gradient(bottom, $darkblue 5%, transparent 95%), url('../../img/home/mainBannerBg.jpg') no-repeat
    ;
    background-size: 100%;
    background-position: top;
    height: 100vh;
}
.frame{
    border: 1px solid $gold;
    margin: 0 auto;
}
.banner{
    .slogan {
        display: flex;
        justify-content: center;
        margin-top: 20vh;
        p{
            font-size: 7rem;
            color: white;
            font-family: "Haettenschweiler", sans-serif;
            letter-spacing:6px;
        }
    }
    .scroll{
        display: flex;
        justify-content: center;
        img{
            margin-top: 20%;
        }
    }
}
.home_intro{
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    h2{
        text-align: center;
    }
    h4{
        text-align: center;
    }
}

//=========流程
.stepsection{
    background-color: transparent;
}


//=========星球百科
ul.tab-title {
    a{
        font-size: 1rem;
    }
}
.tab-inner{
    justify-content: center;
    display: flex;
    .tab_intro{
        display: flex;
        flex-direction: column;
        text-align: left;
        h3 {
            line-height: 2rem;
            max-width: 400px;
        }
    }
    .data{
        justify-content: flex-start;
        p{
            text-align: center;
        }
    }
.tab-active{
    display: flex;
    justify-content: center;
    }
}


//============商城圖片
.home_shop{
    display: flex;
    flex-direction: column;
    .button_min{
        margin: 0 auto;
    }
    h2{
        margin: 0 auto;
    }
    .shopItem{
        max-height: 650px;
        //hover效果
        .hovereffect {
            width: 100%;
            height: 100%;
            float: left;
            overflow: hidden;
            position: relative;
            text-align: center;
            cursor: default;
            background: #42b078;
          }
          
          .hovereffect .overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items:center;
          }
          
          .hovereffect img {
            display: block;
            position: relative;
            max-width: none;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: translate3d(-10px,0,0);
            transform: translate3d(-10px,0,0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
          }
          
          .hovereffect:hover img {
            opacity: 0.4;
            filter: alpha(opacity=40);
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
          }
                    
          .hovereffect:hover h2:after {
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
          }
          
          .hovereffect a, .hovereffect h2 {
            color: #FFF;
            opacity: 0;
            filter: alpha(opacity=0);
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: translate3d(100%,0,0);
            transform: translate3d(100%,0,0);
          }
          
          .hovereffect:hover a, .hovereffect:hover h2 {
            opacity: 1;
            filter: alpha(opacity=100);
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
          }
        //調位置
        .item1{
            margin: 0 auto;
            .hovereffect{
                z-index:1;
                max-width: 400px;
                max-height: 250px;
                img{
                    max-width: 400px;
                }
            }
        }
        .item2{
            .hovereffect{
                z-index: 1;
                transform: translate(110%,-20%);
                max-height: 450px;
                max-width:220px;
                img{
                    max-width:230px;
                }
            }
        }
        .item3{
            .hovereffect{
                transform: translate(150%,-100%);
                max-height: 270px;
                max-width: 275px;

            }
        }
        .item4{
            .hovereffect{
                z-index:1;
                transform: translate(255%,-260%);
                max-height: 270px;
                max-width: 280px;
                img{
                    max-width: 290px;

                }
            }
        }
        .item5{
            .hovereffect{
                transform: translate(260%,-310%);
                max-height: 296px;
                max-width: 300px;
                img{
                    max-width: 310px;

                }
            }
        }

    }
    

}



//============會員待遇
.flow_member{
    display: flex;
    justify-content: center;
    flex-direction: column;

    .flowall{
        display: flex;
        justify-content: center;
        column-gap: 10%;

        .flow{
            display: flex;
            flex-direction: column;
            text-align: center;
            .flowTitle {
                color: $gold;   
            }
            img{
                max-width: 60px;
                max-height: 60px;
                margin: 0 auto;
            }
            .separator{
                height: 1px;
                width: 100%;
                border-top: solid 1px $gold;
            }
            h4{
                color: $pink;
                justify-items: center;
                line-height: 1.5rem;
            }

        }
    }
}
