@import "../all.scss";
#particles-js{
    z-index: -10;
    position: fixed;
    width: 100%;
    height: 100%;
 }
.hovers:hover{
    transform: translate(-15px,-10px);
    border: 1px solid #292b41;
    // background-color: #ad6e4a;
}
.container{
        margin: 0 auto;
        max-width: 1200px;
        @media all and (max-width: 1200px) {
            width: 95%;
        }
    padding-bottom:80px;
}
.title{
    color: $white;
    text-align: center;
    letter-spacing: 2px;
}
// 排行榜表頭顏色與文字
.le-color{
    background-color: #16193b;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}
//排行榜背景色
.ba-color{
    background-color: #292b41;
}
// 自身排名文字顏色
.text-color{
    background-color: #1d1e2e;
    color: #c9ada7;
    font-size: 16px;
    font-family: "Nasalization";
    letter-spacing:2px;
}
//別人排名文字顏色與背色
.text-color-1{
    background-color: #292b41;
    font-size: 16px;
    color: #fff;
    font-family: "Nasalization";
    letter-spacing:2px;
}
//排行榜縮圖
.leve{
    width: 40px;
    // height: 60px;
}
.leve-1{
    width: 40px;
    // height: 55px;
}
.icon-2{
    width: 50px;
    object-fit:cover;
    height: 50px;
    border-radius: 40px;
}
.icon-3{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 40px;
}

//col-2內部對齊
.text-00{
    display: flex;
    // align-content: center;
    align-items: center;
    justify-content: center;
    // text-align: center;
}
.text-01{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
//排行榜內的高度
.line-he-65{
    // line-height: 65px;
    padding-top: 8px;
    padding-bottom: 8px;
    // height: 65px;
}
.line-he-85{
    line-height: 85px;
}
.line-he-75{
    // line-height: 75px;
    padding-top: 8px;
    padding-bottom: 8px;
}
// 分隔線
.bra-line{
    border-bottom: 1px solid rgba(255, 255, 255, 0.089);
    width: 80%;
}
.banner{
    margin: 0 auto;
    background-image: url(../../img/home/others/clavius-landing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center  center;
    width: 87%;
    padding-top:20%;
    // padding-bottom: 30%;
    position: relative;
    img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        position: relative;
        top: 100px;
    }
    h2{
    position: absolute;
    left: 50%;
    // top: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    }
}
.container-fluid{
    padding-top: 15vh;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 1200px;
    .row{
        .col-10{
            transition: all 0.5s;
            .row{
                width: 100%;
                .col-4{
                    text-align: center;
                    padding-left: 0px;
                    padding-right: 0px;
                   
                }
            }
        }
    }
}
@media (max-width: 768px){
    .del{
        display: none;
    }
    .banner{
        width: 100%;
        padding-top: 50%;
    }
}
@media (min-width: 769px){
    .del{
        
    }
}