
// 排行榜表頭顏色與文字
.le-color{
    background-color: #16193b;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
}
//排行榜背景色
.ba-color{
    background-color: #292b41;
}
// 自身排名文字顏色
.text-color{
    background-color: #1d1e2e;
    color: #c9ada7;
    font-size: 14px;
}
//別人排名文字顏色與背色
.text-color-1{
    background-color: #292b41;
    font-size: 14px;
    color: #fff;
}
//排行榜縮圖
.leve{
    width: 60px;
    // height: 60px;
}
.leve-1{
    width: 50px;
    // height: 55px;
}
.icon-2{
    width: 60px;
    object-fit:cover;
    height: 60px;
    border-radius: 40px;
}
.icon-3{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 40px;
}

//col-2內部對齊
.text-00{
    display: flex;
    // align-content: center;
    align-items: center;
    justify-content: center;
    // text-align: center;
}
.text-01{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
//排行榜內的高度
.line-he-65{
    // line-height: 65px;
    padding-top: 8px;
    padding-bottom: 8px;
    // height: 65px;
}
.line-he-85{
    line-height: 85px;
}
.line-he-75{
    // line-height: 75px;
    padding-top: 8px;
    padding-bottom: 8px;
}
// 分隔線
.bra-line{
    border-bottom: 1px solid rgba(255, 255, 255, 0.089);
    width: 80%;
}
.banner{
    margin: 0 auto;
    background-image: url(../../img/trip/others/ivan-diaz-dmhv60RLmlw-unsplash.jpg);
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 20%;
    position: relative;
    h4{
    position: absolute;
    left: 50%;
    // top: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    }
}
.container{
    .row{
        .col-10{
            display: flex;
            .row{
                width: 100%;
                .col-4{
                    text-align: center;
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }
        }
    }
}