body{
  font-family: "Haettenschweiler","Microsoft JhengHei", sans-serif;
  color: #C9ADA7;
  background-color: #0c0d18;
}

*{
  box-sizing: border-box;
}

.grid{
  margin: auto;
  max-width: 1440px;
}

.grid-item{
  margin: 10px;
  border: 1px solid #AD6E4A;
  width: calc(20% - 20px);
  border-radius: 5px;
  padding: 0;
  margin-bottom: 30px;
}
.grid .grid-item img{
  width: 100%;
  object-fit: cover;
}
.grid .grid-item:nth-child(n+11){
  display: none;
}
.action-box{
  display:flex;
  bottom: 48px;
  background-color:black;
  opacity: 0.5;
  position: relative;
}
.heart,.share,.message{
  padding: 10px;
}
.action-box .button{
  background-color: transparent;
  border-width: 0px;
  outline: none;
  padding: 10px;
  margin-left: 40px;
}
.article_all{
  position: relative;
  bottom: 48px;
}
.article{
  display: flex;
  width: 250px;
}
.name{
  line-height: 51px;
  color: #fff;
}
.member_photo{
  margin-right: 15px;
  padding: 10px;
}
.article .member_photo img,.article_2 .member_photo img{
  border-radius: 50%;
}
.text{
  padding: 0 15px;
  color:#fff;
  line-height: 18px;

}
.article_2{
  display: flex;
  margin-top: 10px;
}

.col-md-12{
  text-align: center;
}

.button button{
  color: white;
  border: 1px solid #AD6E4A;
  padding: 15px;
  margin: 30px 0;
  background-color: transparent;
  outline: none;
}

.col-md-1 {
  display: inline-block;
  position: fixed;
  display: none;
  left: 1300px;
  bottom: 120px;
  
}
.col-md-1 .button_2 .post_button{
  background-color: transparent;
  border: none;
}
footer.padding_top_5{
  padding-top: 10px;
}