@import "../all.scss";



.frame{
    border: 1px solid $gold;
    margin: 0 auto;
}
.title{
    display: flex;
    justify-content: center;
}

div.tabList{
    display: flex;
    justify-content: center;
    column-gap: 1%;
    button{
        border: none;
        background-color: transparent;
        color: $gold;
        font-size: 16px;
    }
    button.active{
        border-bottom: 4px solid $gold;
    }
}
.separator{
    margin: 0 auto;
    height: 1px;
    width: 80%;
    border-top: solid 1px $gold;
}
.tab-inner{
    // border-top: 1px solid $gold;
    display: flex;
    .taball{
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: center;
        .tab_left{
            max-width: 400px;
        }
        p {
            line-height: 2rem;
            margin-top: 20px;
            max-width: 400px;
        }
        .data{
            border: 1px solid $gold;
            display: flex;
            font-family: Haettenschweiler, sans-serif;
            .grav{
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;
                min-width: 130px;
                min-height: 130px;
                border-right: 1px solid $gold;
            }
            .day{
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;
                min-width: 130px;
                border-right: 1px solid $gold;
    
            }
            .temp{
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;
                min-width: 130px;
            }
            
            span.var{
                font-size: 48px;
                letter-spacing: 3px;
            }
            span.data-top{
                vertical-align:top;
                font-size: 24px;
            }
            span.data-mid{
                font-size: 24px;
            }
            span.data-low{
                font-size: 24px;
                font-stretch: narrower;
            }
            p{
                margin-top: 5px;
                font-size: 16px;
            }
    
        }
    }
    button{
        display:none;

    }
}

.planet_content{
    display: flex;
    flex-wrap: wrap;
    .carousel{
        display: none;
    }
    .imgs{
        display:block;
        .img1{
            transform: translate(40%);
        }
        .img2{
            
            transform: translateX(30%);
        }
        .img3{
            
            transform: translate(20%, -350px);
        }
    }
    .desc{
        display:flex;
        align-items: center;
        p{
            line-height: 2rem;
            text-align: justify;
            max-width: 500px;
        }
    }
}

@media only screen and ( max-width:1200px) {
    .tab-inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        .tab-active{
            display: flex;
            justify-content: center;
            img{
                width: 70vw;
            }
        }
    }
    .planet_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        .imgs{
            display: none;
        }
        .carousel{
            display: block;
            width: 400px;
        }
        .desc{
            max-width: 400px;
        }
    }
}