@import "../all.scss";


body{
    font-family:"Haettenschweiler","Microsoft JhengHei", sans-serif;
    color: $pink;
    background-color:$darkblue;
    font-size: 14px;
}
canvas {
    width: 500px;
    height: 500px;
}
.frame{
    border: 1px solid $gold;
}
.title{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    font-size: 42px;
}

ul.tab-title{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    
    li{
        padding: 10px 40px ;
        a {
            text-decoration: none;
            color: $pink;
        }
    }
    li.selected{
        border-bottom: 4px solid $gold;
    }
}
.saparator{
    margin: 0 auto;
    height: 1px;
    width: 80%;
    border-top: solid 1px $gold;
}
.tab-inner{
    // border-top: 1px solid $gold;
    display: flex;
    .intro{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        text-align: left;
        p {
            line-height: 2rem;
            margin-top: 20px;
            max-width: 400px;
        }

    }
    .data{
        display: flex;
        justify-content: flex-end;
        .grav{
            padding: 20px;
            border: 1px solid $gold;
        }
        .day{
            padding: 20px;
            border: 1px solid $gold;
        }
        .temp{
            padding: 20px;
            border: 1px solid $gold;
        }
        span{
            font-size: 48px;
        }
        span.data-high{
            vertical-align:top;
            font-size: 24px;
        }
        span.data-mid{
            font-size: 24px;
        }
        span.data-low{
            font-size: 24px;
            font-stretch: narrower;
        }
        p{
            margin-top: 5px;
            font-size: 16px;
        }

    }
}
.tab-active{
    display:block;

    .cover_rd{
        display:block;
        height: 170px;
        width: 170px;
        border-radius: 50%;
        overflow: hidden;
        background-image: url(../../dev/img/planet/crater.jpg);
        background-position: top;
        position:relative;
        transform: translate(-112%,-220%);
    }
        .outline{
        border: 1px dashed white;
        height: 190px;
        width: 190px;
        border-radius: 50%;
        position:relative;
        transform: translate(-100%,-100%);
    }
    .geoopt{
        position: absolute;
        display: flex;
        column-gap: 30px;
        right: 0px;
        top: 700px;
        .cover_sq{
            height: 150px;
            width: 150px;
            overflow: hidden;
            span.geo2{
                background-image: url(../../img/planet/crater_1.jpg);
                background-size: 130%;
                background-position: center;
            }
            span.geo3{
                background-image: url(../../img/planet/crater_2.png);
                background-position: top;
            }
        }
    }
} 
.content{
    display: flex;
    flex-wrap: wrap;
    .imgs{
        margin-top: 150px;
        display:block;
        .img1{
            transform: translate(10%);
        }
        .img2{
            transform: translateX(-10%);
        }
        .img3{
            transform: translate(-70%, -350px);
        }
    }
    .desc{
        display:flex;
        align-items: center;
        p{
            line-height: 2rem;
            text-align: justify;
            max-width: 500px;
        }
    }
}
