@import "../all.scss";

.container-fluid{
    padding: 0;
    margin-top: 15vh;
    @include respond(mobile){
        margin: 0;
    }
}
//=========動態背景
  canvas {
    display: block;

  } /* ---- particles.js container ---- */
  #particles-js {
    z-index: -10;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $darkblue;
  } 
  
//=========按鈕設定
button{
    background-color: transparent;
    color: white;
}
button:hover{
    color: #ffff;
    border: 1px solid $gold;
    background: $gold;
}

//=========星球Banner
.planet_banner{
    color: $white;
    max-width: 1100px;
    margin: 0 auto;
    background-image: url("../../img/home/mars2.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;    
    padding-top: 15%;
    position: relative;
    @include respond(mobile){
        padding-top: 50%;
    }
    h2{
        @include absolute_middle();
        top: 35%;
        letter-spacing:2px;
        @include respond(mobile){
            font-size: .8rem;
            width: 80%;
            top: 50%;
            margin: 0;
        }
    }
}

//=========星球Tab
.planet_tab{
    div.tabList{
        display: flex;
        justify-content: center;
        column-gap: 1%;
        button{
            border: none;
            background-color: transparent;
            color: $gold;
            font-size: 16px;
        }
        button.active{
            border-bottom: 4px solid $gold;
        }
    }
    .separator{
        margin: 0 auto;
        height: 1px;
        width: 70%;
        border-top: solid 1px $gold;
        @include respond(mobile){
            width: 100%;
        }
    
    }
    .tab-inner{
        // border-top: 1px solid $gold;
        display: flex;
        .taball{
            display: flex;
            flex-direction: column;
            text-align: left;
            align-items: center;
            .tab_left{
                max-width: 400px;
                h3{
                    line-height: 2rem;
                }
            }
            p {
                line-height: 2rem;
                margin-top: 20px;
                max-width: 400px;
            }
            .data{
                border: 1px solid $gold;
                display: flex;
                font-family: Haettenschweiler, sans-serif;
                .grav{
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    min-width: 130px;
                    min-height: 130px;
                    border-right: 1px solid $gold;
                }
                .day{
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    min-width: 130px;
                    border-right: 1px solid $gold;
        
                }
                .temp{
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    min-width: 130px;
                }
                
                span.var{
                    font-size: 48px;
                    letter-spacing: 3px;
                }
                span.data-top{
                    vertical-align:top;
                    font-size: 24px;
                }
                span.data-mid{
                    font-size: 24px;
                }
                span.data-low{
                    font-size: 24px;
                    font-stretch: narrower;
                }
                p{
                    margin-top: 5px;
                    font-size: 16px;
                }
        
            }
            .tab-active{
                position: relative;
            }
        }
    
    }
}
.planet_content{
    display: flex;
    flex-wrap: wrap;
    .carousel{
        display: none;
    }
    .imgs{
        display:block;
        .img1{
            transform: translate(20%);
        }
        .img2{
            
            transform: translateX(10%);
        }
        .img3{
            
            transform: translate(-30%, -350px);
        }
    }
    .desc{
        display:flex;
        align-items: center;
        justify-content: center;
        p{
            line-height: 2rem;
            text-align: justify;
            max-width: 500px;
        }
    }
}
@media only screen and ( max-width:1200px) {
    .tab-inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        .tab-active{
            display: flex;
            justify-content: center;
        }
    }
    .planet_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        .imgs{
            display: none;
        }
        .carousel{
            display: block;
            width: 400px;
        }
        .desc{
            max-width: 400px;
        }
        
    }

}
