*{
  box-sizing: border-box;
}
body{
  color: white; 
  font-size: 16px;
}
div.post{
  margin-top: 50px;
}
form.post{
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  background-color: #292B41;
}
form.post .select_trip{
  margin-bottom: 30px;
  border: none;
  outline: none;
}
form.post .select_trip select{
  border: none;
  outline: none;
  padding: 5px;
}
.post form.post label.teaching{
  // color: white;
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}
.post form.post .upload_img button{
  outline: none;
  border: none;
}
.post form.post .post_text{
  margin-top: 30px;
}
.post_text label.post,.post_text input.texts{
  display: block;
}
.post_text textarea.texts{
  outline: none;
  width: 100%;
  height: 200px;
  resize: none;
  padding: 10px;
}
div.post form.post div.post_text label.post{
  margin-bottom: 10px;
  font-size: 16px;
}
.post_text{
  margin-bottom: 30px;
}
.button_post{
  text-align: center;
}
button.button_min{
  width: 100px;
  text-align: center;
  background-color: #AD6E4A;
  color: white;
  border: none;
  outline: none;
  font-size: 14px;
}