@import "../all.scss";
.container{
  position: relative;
}
.container-fluid{
  padding: 0;
  margin-top: 15vh;
}
.row{
  margin: 0;
}
.col-12{
  margin-top: 2%;
  padding: 0;
}
form.post{
  width: 90%;
  margin: 0 auto;
  padding: 30px;
  background-color: #292B41;
  max-width: 900px;
}
form.post a{
  max-width:30px;
  position: absolute;
  left: 80%;
  bottom: 77%;
}
form.post .select_trip{
  margin-bottom: 30px;
  border: none;
  outline: none;
}
form.post .select_trip select{
  border: none;
  outline: none;
  padding: 5px;
}
p.upload_photo{
  margin-bottom: 10px;
}
.post form.post label.teaching{
  // color: white;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 16px;
  margin-left: 10px;
}
.upload_img label input img{
  max-width: 70%;
}
.post form.post .upload_img button{
  outline: none;
  border: none;
}
.post form.post .post_text{
  margin-top: 30px;
}
.post_text label.post,.post_text input.texts{
  display: block;
}
.post_text textarea.texts{
  outline: none;
  width: 90%;
  height: 200px;
  resize: none;
  padding: 10px;
}
div.post form.post div.post_text label.post{
  margin-bottom: 10px;
  font-size: 16px;
}
.post_text{
  margin-bottom: 30px;
}
.button_post{
  text-align: center;
}
button.button_min,input.button_min{
  width: 100px;
  text-align: center;
  background-color: #AD6E4A;
  color: white;
  border: none;
  outline: none;
  font-size: 14px;
}
button.button_min:hover,input.button_min:hover{
  background-color: lighten($gold, 10%);
}