@import "../all.scss";

body {
    object-fit: cover;
    user-select: none;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 0px;
    @include respond(mobile) {
        margin: 0 30px;
    }
}

.product {
    @include flex_middle();
    align-items: start;
    flex-wrap: wrap;

    // margin: 0 40px;
    .imgs {
        @include flex_middle();
        justify-content: flex-end;
        max-width: 948px;

        // border: 1px solid #fff;
        .img {
            max-width: 400px;
            // border: 1px solid white;
            text-align: center;
            @include flex_middle();
            flex-direction: column;

            @include respond(mobile) {
                max-width: 948px;
            }

            .bigImg {
                width: 400px;
                height: 300px;
                object-fit: cover;
                background-color: $white;

                @include respond(mobile) {
                    // max-height: 400px;
                    width: 100%;
                }
            }

            .smallImg {
                @include flex_middle();
                justify-content: start;
                width: 100%;

                .imgDetail {
                    background-color: $white;
                    cursor: pointer;
                    margin-right: 16px;
                    padding: 4px;

                    img {
                        width: 80px;
                        height: 60px;
                        object-fit: cover;
                        @include respond(mobile){
                            max-width: 60px;
                            max-height: 60px;
                        }
                    }
                }
            }
        }
    }

    .detail {
        width: 30%;
        // border: 1px solid $white;
        text-align: left;
        position: relative;

        @include respond(mobile) {
            width: 100%;
            margin: 60px 30px;
        }

        strong {
            font-weight: 900;
        }

        p {
            width: 100%;

            @include respond(mobile) {
                width: 100%;
            }
        }

        .price{
            font-family: "Nasalization";
            font-weight: bold;
            letter-spacing: 2px;
            color: $gold;
        }

        hr {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
            height: 1px;
            border: none;
            background-color: $gold;

            @include respond(mobile) {
                width: 100%;
            }
        }

        .h3 {
            letter-spacing: 3px;
        }

        .quantity {
            >label {
                display: block;
                font-weight: 900;
            }

            .as {
                color: $gold;

                input[type=number] {
                    max-width: 50px;
                    background-color: transparent;
                    outline: none;
                    border: none;
                    text-align: center;
                    color: $gold;
                }

                span {
                    border: 1px solid $gold;
                    outline: none;
                    background-color: transparent;
                    padding: 4px 8px;
                    cursor: pointer;
                }
            }

            .button_large {
                width: 40%;
                display: inline-block;
                cursor: pointer;
                padding: 8px 0;
                transition: all .3s ease;
                background-color: transparent;
                color: $white;
                &:hover{
                    color: $white;
                    background-color: $gold;
                }
                &.buy {
                    background-color: $gold;
                    color: $white;
                    font-weight: 900;
                    transition: all .3s;
                    padding: 8.4px 0;
                    @include respond(mobile){
                        margin-left: 0;
                    }
                    &:hover {
                        background-color: lighten($gold, 10%);
                    }
                }

                @include respond(mobile) {
                    width: 100%;
                }
            }
        }
        .favorites{
            position: absolute;
            right: 0;
            top: 0;
            cursor:pointer ;
        }
    }
}

.describe {
    // border: 1px solid white;
    max-width: 300px;
    margin: 80px auto;
    text-align: center;

    @include respond(mobile) {
        margin: 0 auto;
        margin-bottom: 80px;
    }
}

.recommend {
    margin: 0 auto;
    padding-bottom: 80px;

    h3 {
        text-align: center;
    }

    .tripcard_all {
        display: inline-flex;
        justify-content: center;
        width: 100%;

        @media all and (max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }

        .tripcard {
            // border: 1px solid white;
            width: 250px;
            background-color: #191919;
            padding: 15px;
            border-radius: 5px;
            position: relative;
            margin: 0 16px 0 16px;
            color: $white;
            @media all and (max-width: 767px) {
                flex-direction: column;
                margin: 16px 0 16px 0;
            }

            .spot_pic {
                width: 250px;
            }

            .spot_pic:hover {
                transform: perspective(0.5px) translateX(-1.5px) translateY(-1.5px);
            }

            .hot2 {
                font-weight: bold;
                margin-bottom: 15px;
            }

            .tag {
                display: inline-flex;
                border: 1px solid $pink;
                border-radius: 5px;
                padding: 8px;
                line-height: 5px;
                margin: 3px;
            }

            .price2 {
                color: $gold;
                font-weight: bold;
                letter-spacing: 2px;
                font-family: "Nasalization";
                padding-left: 5px;
                position: absolute;
                right: 20px;
                bottom: 10px;

            }

            .addin2 {
                background-color: $gold;
                color: $white;
                border-radius: 15px;
                width: 110px;
                line-height: 26px;
                text-align: center;
                font-size: 12px;

                img.plus {
                    width: 15px;
                    display: inline-block;
                    position: relative;
                    top: 2px;
                    padding-right: 4px;
                }
            }

            .addin2:hover {
                background-color: lighten($gold, 10%);
            }
        }
    }
}

.comment {
    max-width: 900px;
    margin: 0 16px;
    @include respond(mobile){
        margin:0 30px;
    }
    .score {
        display: flex;
        align-items: center;
        position: relative;

        .number {
            background-color: $gold;
            padding: 8px;
        }

        .stars {
            @include flex_middle();

            .star {
                margin-left: 4px;
            }

            .icon {
                width: 15px;
            }
        }

        .more {
            position: absolute;
            right: 0;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .messages {
        @include flex_middle();
        justify-content: start;
        border-bottom: 1px solid $gold;
        padding: 16px 0;
        position: relative;

        img {
            max-width: 50px;
        }
        .name {
            @include flex_middle();
            justify-content: start;

            hr {
                height: 10px;
                background-color: $pink;
                border: 1px solid $pink;
                margin: 0 8px;
            }
        }

        .more {
            color: $white;
            text-decoration: underline;
            position: absolute;
            right: 0;
            bottom: 10px;
            cursor: pointer;
        }
    }
}
