@import "../all.scss";

section.shop{
    // margin-top: 50px;
    margin: 0 40px;
    text-align: center;
    color: $white;
    @include respond(mobile){
        margin: 0;
    }
    .banner{
        margin: 0 auto;
        background-image: url("../../img/shop/banner.jpg");
        background-repeat: no-repeat;
        width: 100%;    
        padding-top: 20%;
        position: relative;
        @include respond(mobile){
            padding-top: 50%;
        }
        h2{
            @include absolute_middle();
            top: 35%;
            letter-spacing:2px;
            @include respond(mobile){
                font-size: .8rem;
                width: 80%;
                top: 50%;
                margin: 0;
            }
        }
    }
    .btn{
        cursor: pointer;
    }
    .shopAll{
        @include flex_middle();
        align-items: start;
        flex-wrap: wrap;
        .aside{
            width: 30%;
            // max-width: 250px;
            position: sticky;
            top: 18vh;
            left: 0;
            margin-top: 40px;
            @include respond(pad){
                width: 35%;
            }
            @include respond(mobile){
                top: 0;
                width: 80%;
                position: relative;
            }
            // border: 1px solid #fff;
            p{
                border: 1px solid $pink;
                // max-width: 400px;
                padding: 20px 0;
                background-color: #292B41;
                border: none;
                background-image: url("../../img/shop/arrow-right.png");
                background-repeat: no-repeat;
                background-position: right 20px center;
                background-size: 10px;
            }
            .choose{
                max-height: 0;
                // display: none;
                overflow: hidden;
                transition: all .5s linear;
                li{
                    padding: 16px 0;
                    transition: all .3s;
                    text-align: center;
                    width: 100%;
                    background-color: $gold;
                    &:hover{
                        background-color: lighten($gold, 10%);
                    }
                }
            }
            .chooseShow{
                max-height: 400px;
                transition: all 1.5s linear;
            }
        }
        .main{
            width: 70%;
            @include respond(pad){
                width: 60%;
            }
            @include respond(mobile){
                width: 80%;
            }
            .productAll{
                letter-spacing: 5px;
                @include respond(pad){
                    margin-left: 24px;
                }
                @include respond(mobile){
                    margin-left: 0px;
                }
                ul{
                    display: flex;
                    justify-content: space-between;
                    align-items: start;
                    flex-wrap: wrap;
                    @include respond(pad){
                        align-items: center;
                        justify-content: space-between;
                    }
                    @include respond(mobile){
                        justify-content: center;
                    }
                    // border: 1px solid $pink;
                    li{
                        width: 30%;
                        @include respond(pad){
                            width: 45%;
                        }
                        @include respond(mobile){
                            width: 100%;
                        }
                        // border: 1px solid #fff;
                        a{
                            padding: 10px 0 10px 0;
                            @include flex_middle();
                            flex-direction: column;
                            background-color: $white;
                            color: black;
                            img{
                                width: 50%;
                            }
                            .item{
                                text-align: left;
                                width: 100%;
                                @include flex_middle();
                                justify-content: space-around;
                                padding-top: 20px;
                                // border: 1px solid #fff;
                                .info{
                                    padding: 16px 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


