@import "../all.scss";

section.cart{
    max-width: 900px;
    margin: 0 auto;
    // border: 1px solid #fff;
    padding-top: 5vh;
    form{
        // border: 1px solid #fff;
        margin: 0 30px;
    }
    .item{
        @include flex_middle();
        justify-content: center;
        // flex-wrap: wrap;
        background-color: #292B41;
        padding: 16px 0;
        .img{
            width: 10%;
            @include respond(mobile){
                width: 20%;
            }
        }
        .info{
            width: 65%;
            margin-left: 10px;
            @include flex_middle();
            justify-content: space-around;
            .points{
                @include flex_middle();
                justify-content: start;
                margin: 8px 0;
            }
            .quantity{
                .as{
                    @include respond(mobile){
                        *{
                            padding: 2px 4px;
                        }
                        input[type="number"]{
                            width: 10px;
                        }
                    }
                }
            }
        }
        .trashcan{
            cursor: pointer;
        }
    }
    .checkout{
        width: 100%;
        background-color: #292B41;
        position: relative;
        @include flex_middle();
        justify-content: flex-end;
        padding: 16px 0;
        letter-spacing: 3px;
        @include respond(mobile){
            flex-direction: column;
        }
        .totalPrice{
            @include flex_middle();
            justify-content: flex-end;
            .h2{
                color: $gold;
                font-weight: 900;
            }
        }
        .totalIntegral{
            @include flex_middle();
            justify-content: flex-end;
        }
        .button_min{
            background-color: $gold;
            padding: 8px;
            margin-right: 7%;
            color: $white;
            @include respond(mobile){
                margin-top: 16px;
                width: 80%;
            }
        }
    }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}