@import "../all.scss";

section.orderDetail{
    max-width: 948px;
    // border: 1px solid #fff;
    margin: 0 auto;
    padding-top: 5vh;
    .order{
        width: 95%;
        // border: 1px solid $pink;
        margin: 0 auto;
        li{
            font-weight: 900;
            background-color: #292B41;
            @include flex_middle();
            justify-content: space-between;
            padding: 8px 16px;
            .imgWord{
                width: 45%;
                @include flex_middle();
                justify-content: space-around;
                .prod{
                    max-width: 80px;
                    background-color: $white;
                    padding: 8px;
                }
                .integral{
                    @include flex_middle();
                }
            }
            .quantity{
                width: 45%;
                @include flex_middle();
                justify-content: space-around;
            }
        }
    }
    .detail{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 16px 6% 16px 0;
        background-color: #292B41;
        .total,.integral{
            @include flex_middle();
            justify-content: space-around;
            width: 40%;
            p:nth-child(2){
                font-weight: 900;
                color: $gold;
            }
            >.count{
                @include flex_middle;
            }
        }
        small{
            margin-right: 6%;
        }
    }
}

section.orderer{
    max-width: 948px;
    margin: 0 auto;
    form{
        position: relative;
        padding-bottom: 80px;
    }
    .orderer_form,.recipient,.payment{
        width: 95%;
        margin: 32px auto;
        background-color: #292B41;
        padding-bottom: 80px;
        max-height: 0;
        overflow: hidden;
        transition: all 1s;
    }
    .orderer_click,.recipient_click,.payment_click{
        padding: 16px 0;
        // border: 1px solid #fff;
        cursor: pointer;
        position: relative;
        left: 6%;
        // background-color: #fff;
        &::before{
            content: "";
            width: 1px;
            height: 30%;
            background-color: $white;
            position: absolute;
            left: -3.1%;
            transform: rotate(45deg) translateY(-60%);
            top: 50%;
        }
        &::after{
            content: "";
            width: 1px;
            height: 30%;
            background-color: $white;
            left: -3%;
            position: absolute;
            transform: rotate(-45deg) translateY(-60%);
            top: 50%;
        }
    }
    .info{
        @include flex_middle();
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;
        // border: 1px solid #fff;
        margin-left: 6%;
        .input_group{
            width: 45%;
            margin-top: 16px;
        }
        .long{
            width: 100%;
        }
        label{
            display: block;
        }
        input{
            color: $white;
            background-color: transparent;
            outline: none;
            // border: none;
            border: 1px solid $gold;
            padding: 5px 10px;
            width: 100%;
            transition: all .3s;
            &:focus{
                background-color: $gold;
            }
        }
    }
    .retract{
        max-height: 400px;
    }
    .payTitle{
        // border: 1px solid #fff;
        width: 95%;
        margin: 0 auto;
    }
    .input_check{
        width: 50%;
        display: inline-block;
        // border: 1px solid #fff;
        .icon{
            display: inline-block;
            width: 14px;
        }
        .check-custom{
            opacity: 0;
            position: absolute;
        }
        .check-custom, .check-custom-label {
            display: inline-block;
            vertical-align: middle;
            margin: 5px;
            cursor: pointer;    
            position: relative;
            &::before{
                content: '';
                background: transparent;
                border: 2px solid $gold;
                display: inline-block;
                vertical-align: middle;
                width: 5px;
                height: 5px;
                padding: 2px;
                margin-right: 10px;
                text-align: center;
            }
        }
        .check-custom + .check-custom-label:before {
            border-radius: 50%;
        }
        .check-custom:checked + .check-custom-label:before {
            background: $gold;
            box-shadow: inset 0px 0px 0px 4px $gold;
        }
        .check-custom:focus + .check-custom-label {
            outline: none; /* focus style */
        }
        p{
            display: inline-block;
            >span{
                letter-spacing: 3px;
                font-weight: 900;
            }
        }
    }
    .discount_group{
        display: inline-block;
        // border: 1px solid #fff;
        label,input{
            display: inline-block;
        }
        input{
            width: 30%;
        }
    }
    .credit{
        @include flex_middle();
        flex-direction: column;
        .input_check{
            width: 100%;
            // border: 1px solid #fff;
        }
        span{
            margin: 0 4px;
        }
        .credit_number,.date{
            @include flex_middle();
            justify-content: start;
            width: 100%;
            margin-left: 56px;
            div{
                @include flex_middle();
                justify-content: start;
                input{
                    width: 15%;
                }
            }
            .terms{
                width: 30%;
            }
        }
    }
    .button_min{
        background-color: $gold;
        color: $white;
        position: absolute;
        right: 5%;
        bottom: 0;
    }
}
