@import "../all.scss";

section.cart{
    max-width: 948px;
    margin: 0 auto;
    // border: 1px solid #fff;
    padding-top: 15vh;
    .item{
        @include flex_middle();
        align-items: center;
        justify-content: space-around;
        width: 90%;
        background-color: #292B41;
        padding: 8px 16px;
        // border: 1px solid #fff;
        .img{
            max-width: 50px;
            // border: 1px solid #fff;
            text-align: center;
            padding: 16px;
            background-color: $white;
        }
        .integral{
            @include flex_middle();
            justify-content: space-between;
            .icon{
                max-width: 15px;
            }
        }
        .trashcan{
            cursor: pointer;
        }
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}