@import "../all.scss";

section.shop{
    // margin-top: 50px;
    margin: 0 auto;
    max-width: 1100px;
    text-align: center;
    color: $white;
    @include respond(pad){
        margin: 0 30px;
    }
    .banner{
      background-image: url("../../img/home/others/mars_landscape.jpg");
      background-size: cover;
      background-position: center bottom -250px;
      background-repeat: no-repeat;
      width: 100%;
      padding-top: 20%;
      position: relative;
      @include respond(mobile){
        background-position: center center;
        padding-top: 40%;
      }
      h2{
        width: 80%;
        @include absolute_middle();
        @include respond(mobile){
          font-size: 1rem;
        }
      }
    }
    .filter{
        @include flex_middle();
        justify-content: space-between;
        @include respond(pad){
          margin: 40px 30px;
        }
        @include respond(mobile){
          flex-direction: column;
        }
    }
    #app{
        ul{
            @include flex_middle();
            justify-content: space-around;
            flex-wrap: wrap;
            @include respond(pad){
              justify-content: space-around;
              margin: 0 10px;
            }
        }
        li{
            position: relative;
            margin: 0 10px;
            width: 22%;
            @include respond(pad){
              width: 45%;
            }
            @include respond(mobile){
              width: 100%;
              max-width: 350px;
            }
        }
        .card{
            position: relative;
            height: 300px;
            margin: 30px 0px;
            @include flex_middle();
            flex-direction: column;
            background-color: rgba(255,255,255,0.2);
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(10px);
            z-index:10;
            @include respond(mobile){
              margin-top: 50px;
            }
            &:hover{
                .imgBx{
                    transform: translateY(-50px);
                    img{
                        transform: translateY(-40px) scale(1.3);
                    }
                }
                .content{
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(-10px);
                }
            }
        }
        .imgBx{
            position: relative;
            @include flex_middle();
            flex-direction: column;
            padding: 20px;
            transition: 0.5s ease-in-out;
            @include respond(mobile){
              transform: translateY(-50px);
                    img{
                        transform: translateY(-40px) scale(1.3);
                    }
            }
            img{
                max-width: 50%;
                margin: 0 0 20px;
                transition: .5s ease-in-out;
            }
        }
        .content{
            position: absolute;
            bottom: 20px;
            @include flex_middle();
            flex-direction: column;
            transition: .5s ease-in-out;
            opacity: 0;
            visibility: hidden;
            @include respond(mobile){
              opacity: 1;
              visibility: visible;
              transform: translateY(-10px);
            }
            .button_min{
                position: relative;
                top: 20px;
                background-color: $gold;
                color: $white;
                display: inline-block;
                cursor: pointer;
            }
        }
    }
}

.custom-select {
    position: relative;
    font-family: Arial;
    width: 12%;
    @include respond(pad){
      width: 20%;
    }
    @include respond(mobile){
      width: 80%;
      margin: 16px 0;
    }
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color: $gold;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: $gold;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }