@import "../all.scss";

section.orderDetail{
    // max-width: 948px;
    // border: 1px solid #fff;
    margin: 0 auto;
    padding-top: 5vh;
    .order{
        margin: 0 30px;
        // border: 1px solid $pink;
        li{
            font-weight: 900;
            background-color: #292B41;
            @include flex_middle();
            justify-content: space-between;
            padding: 8px 0;
            .imgWord{
                width: 100%;
                @include flex_middle();
                justify-content: space-around;
                flex-wrap: wrap;
                .prod{
                    width: 10%;
                    @include respond(mobile){
                        width: 15%;
                        margin-left: 8px;
                    }
                }
                .imgRight{
                    @include flex_middle();
                    justify-content: space-between;
                    width: 60%;
                    @include respond(mobile){
                        width: 75%;
                        justify-content: space-around;
                    }
                }
                .integral{
                    @include flex_middle();
                    .icon{
                        max-width:10px;
                    }
                }
            }
            .quantity{
                width: 80%;
                @include flex_middle();
                justify-content: space-around;
            }
        }
    }
    .detail{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 16px 6% 16px 0;
        background-color: #292B41;
        @include respond(mobile){
            justify-content: center;
        }
        .total,.integral{
            @include flex_middle();
            justify-content: space-around;
            width: 40%;
            @include respond(mobile){
                width: 100%;
            }
            p:nth-child(2){
                font-weight: 900;
                color: $gold;
            }
            >.count{
                @include flex_middle;
            }
        }
        small{
            margin-right: 6%;
        }
    }
}

section.orderer{
    // max-width: 948px;
    margin: 0 auto;
    padding-bottom: 40px;
    position: relative;
    form{
        position: relative;
    }
    .orderer_form,.recipient,.payment{
        margin: 32px 30px;
        background-color: #292B41;
        padding-bottom: 60px;
        max-height: 0;
        overflow: hidden;
        transition: all 1s;
    }
    .arrow{
        display: flex;
        align-items: center;
        padding: 20px 0;
        margin: 0 8px;
        cursor: pointer;
        img{
            transition: all .5s;
            transform: rotate(-90deg);
        }
    }
    .info{
        @include flex_middle();
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;
        // border: 1px solid #fff;
        margin-left: 6%;
        .input_group{
            width: 45%;
            margin-top: 16px;
            @include respond(mobile){
                width: 100%;
            }
        }
        .long{
            width: 100%;
        }
        label{
            display: block;
        }
        input{
            color: $white;
            background-color: transparent;
            outline: none;
            // border: none;
            border: 1px solid $gold;
            padding: 5px 10px;
            width: 100%;
            transition: all .3s;
            &:focus{
                background-color: $gold;
            }
        }
    }
    .retract{
        max-height: 400px;
        @include respond(mobile){
            max-height: 600px;
        }
        img{
            transform: rotate(0deg);
        }
    }
    .payTitle{
        margin: 0 30px;
    }
    .group{
        @include flex_middle();
        flex-wrap: wrap;
    }
    .checkbox_group{
        @include flex_middle();
        flex-wrap: wrap;
        @include respond(mobile){
            justify-content: start;
            width: 100%;
            margin: 8px 0;
        }
        &.long{
            justify-content: start;
            width: 50%;
        }
        input{
            width: 70%;
        }
        .checkbox_custom{
            opacity: 0;
            position: absolute;
            width: 20px;
        }
        .checkbox_custom,.checkbox_custom_label{
            display: inline-block;
            vertical-align: middle;
            margin: 5px;
            cursor: pointer;
        }
        .checkbox_custom_label{
            position: relative;
            font-weight: 900;
        }
        .checkbox_custom + .checkbox_custom_label:before{
            content: '';
            background: transparent;
            border: 1px solid $gold;
            display: inline-block;
            vertical-align: middle;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            padding: 2px;
            margin-right: 10px;
            text-align: center;
        }
        .checkbox_custom:checked + .checkbox_custom_label:before {
            content: "";
            background: $gold;
        }
        .checkbox_custom:focus + .checkbox_custom-label{
            outline: 1px solid #ddd;
        }
        #discount{
            width: 30%;
            @include respond(mobile){
                width: 70%;
            }
        }
    }
    .credit_icon{
        font-size: 2rem;
        // border: 1px solid #fff;
        min-width: 200px;
        svg{
            fill: none;
            opacity: 0.5;
            background-color: transparent;
            &.use{
                opacity: 1;
                color: $gold;
                transform: scale(1.2);
                // box-shadow: 0px 0px 19px -1px rgba(255,255,255,1);
            }
        }
        input{
            width: 100%;
            margin-bottom: 16px;
            @include respond(mobile){
                width: 75%;
            }
        }
    }
    .button_min{
        background-color: $gold;
        color: $white;
        position: absolute;
        right: 30px;
        bottom: 0;
    }
}
