@import "../all.scss";

section.cart{
    max-width: 948px;
    margin: 0 auto;
    border: 1px solid #fff;
    padding-top: 15vh;
    .item{
        @include flex_middle();
        .img{
            max-width: 50px;
            border: 1px solid #fff;
            text-align: center;
            padding: 16px;
        }
        .integral{
            @include flex_middle();
            .icon{
                max-width: 15px;
            }
        }
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}