@import "../reset";
@import "../base";

//寬度
.wi-2{
    width: 2%;
}
.wi-5{
    width: 5%;
}
.wi-10{
    width: 10%;
}
.wi-15{
    width: 15%;
}
.wi-20{
    width: 20%;
}
.margin-bottom-1{
    margin-bottom: 20px;
}
//最頂層樣式
.top{
    display:flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    background-color: #292b41;
    height: 12vh;
    
}
.header{
    position: sticky;
    top: 0;
}
//nav文字
.text-top{
    color: #fff;
    font-size: 28px;
    font-weight: 900;
}


//左邊開關按鈕樣式
.div-list-btn{
    background-color: #1d1e2e;
    width: 85%;
    height: 50px;
    font-size: 16px;
    color: #c9ada7;
    border: none;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-left: 20px;
}
// SVG箭頭
// .div-list-btn::after{
//     content: url(../../img/date-chevron-down.svg);
//     width: 30px;
    
// }
// 左邊按鈕內頁
.div-list-btn-s{
    background-color: #242536;
    width: 100%;
    height: 45px;
    font-size: 16px;
    color: #c9ada7;
    border: none;
    outline: none;
    display: flex;
    justify-content: space-around;
    // align-content: c;
    align-items: center;
    
}

a:hover{
    color: $gold;
}
.div-list-btn-a{
    background-color: #1d1e2e;
    width: 85%;
    height: 50px;
    font-size: 18px;
    color: #c9ada7;
    font-weight: 600;
    border: none;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-left: 20px;
}

//所在頁面
.now{
    color: $gold;
    font-weight: bold;
}
// 新增與上傳樣式
.btn-updata{
    background-color: #ad6e4a;
    color: #fff;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: none;
}
//文字樣式與內文樣式
.text-1{
    color: #fff;
    font-size: 14px;

    text-align: center;
}
.text-2{
    color: #fff;
    font-size: 16px;
    
    text-align: center;
}
.imgs{
    max-width: 150px;
    object-fit: cover;
}

.div-menu{
    display: flex;
    min-height: 650px;
    .div-list{
        background-color: #1d1e2e;
        width: 250px;
        // height: 100%;
        position: fixed;
    }
    .div-right{
        background-color: #35375a;
        width: calc(100% - 250px);
        margin-left:250px;
        .title{
            position: fixed;
            top:12vh;
            width: calc(100% - 250px);
            background-color: #1d1e2e;
            .data_name{
                font-weight: 600;
                p{
                    font-size:16px;
                    color:$pink;
                }
            }
            
        }
        main.main{
            padding-top: 120px;
        }
        
        #linebox{
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 1;
            top: 0;
            left: 0;  
            display: none;
        }
        .clo{
            position: absolute;
            top: 0;
            right: 0;
            width: 20px;
            height: 20px;
            text-align: center;
            font-size: 20px;
            border-radius: 10px;
            background-color: #fff;
        }
        .upbox{
            display: flex;
            width: 35%;
            top: 10%;
            left: 30%;
            border: 5px solid #ad6e4a;
            position: relative;
            justify-content: center;
            flex-direction: column;
            background-color:#292b41;
            input{
                width: 90%;
                padding:10px;
                margin:5px 10px;
                border-radius: 5px;
            }
        }
        .div-right-span-for{
            display: flex;
            background-color: #292b419d;
            padding: 16px 0px;
            .toomuch{
                height:150px;
                overflow-y: auto;
            }
        }
        .div-right-span{
            display: flex;
            .span-1{
                display: flex;
                background-color: #fff;
                height: 25px;
                justify-content: center;
                // align-content: center;
                align-items: center;
                border-radius: 5px;
                padding-left: 8px;
                img{
                    width: 20px;
                    height: 20px;
                    padding-right: 5px;
                }
                .search1{
                    border: none;
                    outline: none;
                    width: 0px;
                    height: 25px;
                    border-radius: 5px;
                    color: black;
                    transition:all 0.7s;
                }
                #search1:focus{
                    width: 200px;
                   
                }
             }
        }
        
    }
    
}