<footer class="padding_top_5">
    <div class="links">
        <div class="logo"><img src="./img/logo.png" alt=""></div>
        <ul class="footer-links margin_top_2">
            <li><a href="">太空互動</a></li>
            <li><a href="">玩家排行</a></li>
            <li><a href="">星星世界</a></li>
            <li><a href="">星球景點</a></li>
            <li><a href="">星球商城</a></li>
        </ul>
    </div>
    <img src="./img/footer_moon.png" alt="" class="footer_moon">
    <img src="./img/smoke.png" alt="" class="smoke">
</footer>
