<footer class="padding_top_10">
    <div class="links">
        <div class="logo"><img src="./img/logo.png" alt=""></div>
        <ul class="footer-links margin_top_2">
            <li><a href="alltrip.html">星球景點</a></li>
            <li><a href="planet.html">星星世界</a></li>
            <li><a href="shop.html">星球商城</a></li>
            <li><a href="photowall.html">太空互動</a></li>
            <li><a href="Leaderboard.html">玩家排行</a></li>
        </ul>
    </div>
    <img src="./img/footer_moon.png" alt="" class="footer_moon">
    <img src="./img/smoke.png" alt="" class="smoke">
</footer>
