body{
    background-color:#0c0d18 ;
    color:#C9ADA7;
}
img{
    display: block;
}

h1.title{
    display: inline-block;
    padding-left: 200px;
    padding-right: 50px;
    position: relative;
}

.hottrip{
    display: inline-flex;
   
}
div.jupiter_top{
    position: relative;
    padding-top: 100px;
    text-align: center;
    margin: 30px;
}
img.jupiter{
    height:160px;
    position: absolute;
    top:20px;
    left: 65px; 
}

img.jupiter_a1{
    height:350px;
    
}

div.word{
position: absolute;
  top: 185px;
  left: 100px;
}

div.price{
    background-color: #AD6E4A;
    padding:8px;
    width: 100px;
    margin:0px auto;
    position: relative;
}

img.card{
    height:150px;
    top:20px;
    left: 43px; 
}

