footer{
    background-color: $darkblue;
    position: relative;
    .links{
        position: absolute;
        bottom: 20%;
        width: 100%;
        // border: 1px solid #fff;
        z-index:1;
        .logo{
            max-width: 128px;
            position: relative;
            left: 50%;
            bottom: 50px;
            transform: translateX(-50%);
        }
        .footer-links{
            @include flex_middle;
            justify-content: space-around;
            width: 55%;
            // border: 1px solid #fff;
            position: relative;
            left: 50%;
            bottom: 30px;
            transform: translateX(-50%);
            a{
                color: $white;
            }
        }
    }
    .footer_moon{
        position: relative;
        left: 50%;
        max-width: 550px;
        transform: translateX(-50%);
    }
    .smoke{
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 100%;
        transform: translateX(-50%);
    }
}