.go-top {
    font-family: "Proxima Nova";
    position: fixed;
    bottom: 80px;
    right: 80px;
    text-decoration: none;
    background-image: url(../../img/icon/TOP.png);
    width: 28px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    animation: float 3s cubic-bezier(.1, .1, .88, .88) infinite;

}