body{
    overflow-x: hidden;
}
nav{
    @include flex_middle;
    justify-content: center;
    background-color: $darkblue;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 12vh;
    z-index:9999;
    .logo{

        h1{
            a{
                text-indent: 100%;
                white-space: nowrap;
                // border: 1px solid #fff;
                overflow: hidden;
                background-image: url("../../img/logo.png");
                background-position: center center;
                background-size: contain;   
                background-repeat: no-repeat;
                max-width: 200px;
                height: 30px;
                margin: 0 8px;
            }
        }
    }
    .nav-links{
        @include flex_middle;
        justify-content: flex-end;
        width: 75%;
        // border: 1px solid #fff;
        a{
            width: 100%;
            color: $white;
            // border: 1px solid #fff;
            padding: 8px;
        }
        .bread{
            color: $gold;
            font-weight: 900;
        }
    }
    .nav-icons{
        @include flex_middle;
        justify-content: space-around;
        width: 12%;
        margin-left: 50px;
        // border: 1px solid #fff;
    }
    .burger{
        display: none;
        cursor: pointer;
        margin-left: 8px;
    }
    .burger div{
        width: 25px;
        height: 2px;
        background-color: $white;
        margin: 5px;
        transition: all .3s ease;
    }
    .nav-cart{
        cursor: pointer;
        position: relative;
        .count{
            width: 25px;
            height: 25px;
            background-color: $gold;
            border-radius: 50%;
            text-align: center;
            line-height: 1.5rem;
            position: absolute;
            transform: translate(50%,-150%);
            display: block;
            color: white;
            @include respond(pad){
                transform: translate(100%,-150%);
            }
            @include respond(mobile){
                transform: translate(40%,-170%);
                width: 20px;
                height: 20px;
                font-size: 12px;
                line-height: 1.25rem;
            }
        }
    }
    .nav-trip{
        cursor: pointer;
        position: relative;
        .trip-count{
            width: 25px;
            height: 25px;
            background-color: $gold;
            border-radius: 50%;
            text-align: center;
            line-height: 1.5rem;
            position: absolute;
            transform: translate(50%,-150%);
            display: block;
            color: white;
            @include respond(pad){
                transform: translate(100%,-150%);
            }
            @include respond(mobile){
                transform: translate(40%,-170%);
                width: 20px;
                height: 20px;
                font-size: 12px;
                line-height: 1.25rem;
            }
        }
    }
}

@media (max-width: 992px){
    nav{
        justify-content: space-around;
        .nav-links{
            position: absolute;
            right: -100%;
            height: 88vh;
            top: 12vh;
            background-color: $gold;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 30%;
            transition: all .5s ease-in;
            li{
                // border: 1px solid #fff;
                width: 100%;
                text-align: center;
                margin-left: 0;
                opacity: 0;
                a{
                    display: block;
                    padding: 24px 0;
                }
            }
        }
        .nav-icons{
            width: 100%;
            justify-content: flex-end;
            // border: 1px solid #fff;
            .icon{
                margin: 0 30px 0 15px;
                // max-width: 25px;
            }
        }
        .burger{
            display: block;
        }
        .nav-active{
            right: 0%;
        }
    }
}

//nav
@media (max-width: 768px){
    nav{
        .logo{
            margin: 0 8px;
        }
        .nav-links{
            width: 100%;
        }
        .nav-icons{
            width: 50%;
            margin-left: 16px;
            justify-content: space-between;
            .icon{
                margin: 0;
            }
        }
    }
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
        transform: rotate(45deg) translate(4px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(-45deg) translate(3px, -6px);
}

// @media (max-width: 768px){
//     body{
//         display: none;
//     }
// }