body{
    overflow-x: hidden;
}
nav{
    @include flex_middle;
    justify-content: center;
    background-color: $darkblue;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 12vh;
    z-index:9999;
    .logo{

        h1{
            a{
                text-indent: 100%;
                white-space: nowrap;
                // border: 1px solid #fff;
                overflow: hidden;
                background-image: url("../../img/logo.png");
                background-position: center center;
                background-size: contain;   
                background-repeat: no-repeat;
                max-width: 200px;
                height: 30px;
                margin: 0 8px;
            }
        }
    }
    .nav-links{
        @include flex_middle;
        justify-content: flex-end;
        width: 75%;
        // border: 1px solid #fff;
        a{
            width: 100%;
            color: $white;
            // border: 1px solid #fff;
            padding: 8px;
        }
    }
    .nav-icons{
        @include flex_middle;
        justify-content: space-around;
        width: 12%;
        margin-left: 50px;
        // border: 1px solid #fff;
    }
    .burger{
        display: none;
        cursor: pointer;
        margin-left: 8px;
    }
    .burger div{
        width: 25px;
        height: 2px;
        background-color: $white;
        margin: 5px;
        transition: all .3s ease;
    }
    .nav-cart{
        cursor: pointer;
    }
}

@media (max-width: 992px){
    nav{
        justify-content: space-around;
        .nav-links{
            position: absolute;
            right: -100%;
            height: 88vh;
            top: 12vh;
            background-color: $gold;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 30%;
            transition: all .5s ease-in;
            li{
                // border: 1px solid #fff;
                width: 100%;
                text-align: center;
                margin-left: 0;
                opacity: 0;
                a{
                    display: block;
                    padding: 24px 0;
                }
            }
        }
        .nav-icons{
            width: 100%;
            justify-content: flex-end;
            // border: 1px solid #fff;
            .icon{
                margin: 0 30px 0 15px;
                // max-width: 25px;
            }
        }
        .burger{
            display: block;
        }
        .nav-active{
            right: 0%;
        }
    }
}
//cart
.cart_slide{
    z-index:1000;
    position: absolute;
    right: 0;
    height: 88vh;
    top: 12vh;
    background-color: $gold;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    position: fixed;
    transform: translateX(100%);
    transition: transform .5s ease-in;
    overflow: scroll ;
    overflow-x: hidden;
    &::-webkit-scrollbar{
        width: 0;
        background: transparent;
    }
    .cart_title{
        border-bottom: 1px solid $white;
        width: 100%;
        position: relative;
        padding: 20px 0;
        color: $white;
        span{
            font-weight: 900;
            position: absolute;
            left: 0;
            padding: 0 20px;
            cursor: pointer;
        }
        h3{
            font-size: 1.25rem;
            text-align: center;
        }
    }
    .cart_info{
        width: 100%;
        .total{
            margin: 0 40px;
            h3{
                padding: 10px 0;
                font-size: 1.5rem;
                border-bottom: 1px solid $white;
            }
            .cart_check{
                margin-top: 20px;
                padding: 10px 0;
                background-color: $white;
                color: $gold;
                text-align: center;
                transition: all .3s;
                &:hover{
                    filter: brightness(1.5);
                }
            }
        }
        h3{
            align-items: center;
            padding: 50px 0;
            font-size: 1.25rem;
            color: $white;
        }
        .element{
            width: 100%;
            // border: 1px solid #000;
            // border: 1px solid #000;
            margin-top: 20px;
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            font-size: 0;
            color: $white;
            .el_info{
                font-size: 1rem;
                color: $white;
                margin-right: 16px;
                h3{
                    padding: 0;
                }
            }
            img{
                max-width: 100px;
                background-color: $white;
            }
        }
    }
}

//cart
.cart-active{
    transform: translateX(0%);
}
@media(max-width: 768px){
    .cart_slide{
        width: 100%;
    }
}
//nav
@media (max-width: 768px){
    nav{
        .logo{
            margin: 0 8px;
        }
        .nav-links{
            width: 100%;
        }
        .nav-icons{
            width: 50%;
            margin-left: 16px;
            justify-content: space-between;
            .icon{
                margin: 0;
            }
        }
    }
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
        transform: rotate(45deg) translate(4px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(-45deg) translate(3px, -6px);
}

// @media (max-width: 768px){
//     body{
//         display: none;
//     }
// }