nav{
    @include flex_middle;
    justify-content: space-around;
    background-color: $darkblue;
    position: fixed;
    width: 100%;
    min-height: 12vh;
    .logo{
        h1{
            a{
                text-indent: 100%;
                white-space: nowrap;
                // border: 1px solid #fff;
                overflow: hidden;
                background-image: url("../../img/logo.png");
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
                width: 200px;
                height: 30px;
            }
        }
    }
    .nav-links{
        @include flex_middle;
        justify-content: flex-end;
        width: 60%;
        // border: 1px solid #fff;
        a{
            color: $white;
        }
    }
    .nav-icons{
        @include flex_middle;
        justify-content: space-around;
        width: 12%;
        // border: 1px solid #fff;
    }
    .burger{
        display: none;
    }
    .burger div{
        width: 25px;
        height: 2px;
        background-color: $white;
        margin: 5px;
    }
}