body{
    overflow-x: hidden;
}
nav{
    @include flex_middle;
    justify-content: center;
    background-color: $darkblue;
    position: sticky;
    top: 0;
    width: 100%;
    min-height: 12vh;
    z-index:9999;
    .logo{
        h1{
            a{
                text-indent: 100%;
                white-space: nowrap;
                // border: 1px solid #fff;
                overflow: hidden;
                background-image: url("../../img/icon/header/logo.png");
                background-position: center center;
                background-size: contain;   
                background-repeat: no-repeat;
                max-width: 200px;
                height: 30px;
                margin: 0 8px;
            }
        }
    }
    .nav-links{
        @include flex_middle;
        justify-content: flex-end;
        width: 75%;
        // border: 1px solid #fff;
        a{
            width: 100%;
            color: $white;
            // border: 1px solid #fff;
            padding: 8px;
        }
    }
    .nav-icons{
        @include flex_middle;
        justify-content: space-around;
        width: 12%;
        margin-left: 50px;
        // border: 1px solid #fff;
    }
    .burger{
        display: none;
        cursor: pointer;
    }
    .burger div{
        width: 25px;
        height: 2px;
        background-color: $white;
        margin: 5px;
    }
}

@media (max-width: 992px){
    nav{
        justify-content: space-around;
        .nav-links{
            position: absolute;
            transform: translateX(100%);
            height: 92vh;
            top: 12vh;
            background-color: $gold;
            @include flex_middle();
            flex-direction: column;
            justify-content: center;
            width: 30%;
            transition: all 1s ease-in;
            li{
                // border: 1px solid #fff;
                width: 100%;
                text-align: center;
                margin-left: 0;
                opacity: 0;
                a{
                    display: block;
                    padding: 24px 0;
                }
            }
        }
        .nav-icons{
            width: 100%;
            justify-content: flex-end;
            // border: 1px solid #fff;
            .icon{
                margin: 0 30px 0 15px;
                max-width: 25px;
            }
        }
        .burger{
            display: block;
        }
        .nav-active{
            transform: translateX(0%);
        }
    }
}

@media (max-width: 768px){
    nav{
        .logo{
            margin: 0 8px;
        }
        .nav-links{
            width: 100%;
        }
        .nav-icons{
            width: 50%;
            margin-left: 16px;
            justify-content: space-around;
            .icon{
                margin: 0;
            }
        }
    }
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

// @media (max-width: 768px){
//     body{
//         display: none;
//     }
// }