.quantity{
    label{
        display: block;
    }
    .as{
        color: $gold;
        input[type=number]{
            max-width: 50px;
            background-color: transparent;
            outline: none;
            border: none;
            text-align: center;
            color: $gold;
        }
        span{
            border: 1px solid $gold;
            outline: none;
            background-color: transparent;
            padding: 4px 8px;
            cursor: pointer;
        }
    }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}