@import "../all.scss";
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
#icon-gg{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items:flex-end;
    padding-bottom: 1.5%;
}


//垃圾桶
.icon-g{
    max-width: 30px;
    max-height: 30px;
    object-fit: cover;
}
.car-top{
    min-height: 50vh;
    height: 100%;
    // padding-top: 15vh
}
body{
    background-color: #0c0d18;
    
}
//圖片對齊
.vvvvv{
    width: 16px;
    height: 16px;
    // vertical-align: middle;
}
// 表單背景色
.backcol{
    background-color: #292B41;
}
// 標題文字
.text-1{
    font-size: 18px;
    font-weight: 900;
    line-height: 80px;
}
// 內文標提
.p-text-1{
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin: 0px;
    letter-spacing: 1px;
}
//內文文字
.p-text-2{
    font-size: 16px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 20px;
}
.p-text-3{
    font-size: 16px;
    color: #ad6e4a;
    letter-spacing: 1px;
    font-weight: 700;
}
//行程用縮圖
.imgsr{
    width: 100%;
    max-width: 150px;
    height: auto;
    max-height: 100px;
    object-fit: cover;
}
//日期按鈕
.btn-date{
    letter-spacing: 2px;
    padding: 0 5px;
    border: 1px solid #ad6e4a;
    color: #ad6e4a;
    background-color: #292B41;
    height: 30px;
    text-align: center;
}
// 向下箭頭
.bi{
    fill: #ad6e4a;
}
// .data-down::after{
//     content: url(../img/date-chevron-down.svg);
//     width: 20px;
//     height: 20px;
//     // z-index: -1;
// }
//input-icon日期替換
::-webkit-calendar-picker-indicator { 

    color:#ad6e4a; 
    // background-image: url(../../img/date-chevron-down.svg);
    background-image: url(../../img/date-chevron-down.svg);
    width: 20px;
    height: 20px;
    opacity: 1; 
} 
//加減按鈕
.btn-pull{
    color:#ad6e4a;
    background-color: #292B41;
    font-size: 24px;
    border: 1px solid #ad6e4a;
    width: 30px;
    height: 30px;
    line-height: 0px;
    padding-bottom: 1px; 
}
// 數量的按鈕
.btn-nu{
    color:#ad6e4a;
    background-color: #292B41;
    font-size: 24px;
    border: 0px solid #ad6e4a;
    width: 40px;
    height: 30px;
    line-height: 0px;
    text-align: center; 
    outline: none;
}

.row{
    justify-content: center;
    .col-8{
        .row{
            .col-12{
                display: flex;
                justify-content: space-around;
                padding: 2% 1%;
                // border-radius: 5px;
                
            }
        }
    }
}

.checkout{
    width: 100%;
    background-color: #292B41;
    position: relative;
    @include flex_middle();
    justify-content: flex-end;
    padding: 16px 0;
    letter-spacing: 3px;
    @include respond(mobile){
        flex-direction: column;
    }
    .totalPrice{
        @include flex_middle();
        justify-content: flex-end;
        .h2{
            color: $gold;
            font-weight: 900;
        }
    }
    .totalIntegral{
        @include flex_middle();
        justify-content: flex-end;
    }
    .button_min{
        background-color: $gold;
        padding: 8px;
        margin-right: 7%;
        color: $white;
        @include respond(mobile){
            margin-top: 16px;
            width: 80%;
        }
    }
}