html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
}

input[type=button], input[type=submit], input[type=file], button {
  cursor: pointer;
  -webkit-appearance: none;
}

body {
  font-family: "Microsoft JhengHei", "sans-serif";
  color: #C9ADA7;
  font-size: 14px;
  background-color: #0c0d18;
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

h1, .h1 {
  font-size: 32px;
}

h2, .h2 {
  font-size: 24px;
}

h3, .h3 {
  font-size: 18px;
}

h4, .h4 {
  font-size: 16px;
}

p, .p {
  font-size: 14px;
}

small, .small {
  font-size: 12px;
}

.line_high {
  line-height: 50px;
}

.line_low {
  line-height: 32px;
}

@font-face {
  font-family: "Microsoft JhengHei",  "Nasalization", "adobe-std-b";
  src: local("./fonts/msjh.ttc"), local("./fonts/msjhbd.ttc"), local("./fonts/HATTEN.TTF"), local("./fonts/Nasa.ttf"), local("./fonts/adobe-std-b.otf");
}

.padding_left_1 {
  padding-left: 8px;
}

.padding_left_2 {
  padding-left: 16px;
}

.padding_left_3 {
  padding-left: 24px;
}

.padding_left_4 {
  padding-left: 32px;
}

.padding_left_5 {
  padding-left: 40px;
}

.padding_left_6 {
  padding-left: 48px;
}

.padding_left_7 {
  padding-left: 56px;
}

.padding_left_8 {
  padding-left: 64px;
}

.padding_left_9 {
  padding-left: 72px;
}

.padding_left_10 {
  padding-left: 80px;
}

.padding_top_1 {
  padding-top: 8px;
}

.padding_top_2 {
  padding-top: 16px;
}

.padding_top_3 {
  padding-top: 24px;
}

.padding_top_4 {
  padding-top: 32px;
}

.padding_top_5 {
  padding-top: 40px;
}

.padding_top_6 {
  padding-top: 48px;
}

.padding_top_7 {
  padding-top: 56px;
}

.padding_top_8 {
  padding-top: 64px;
}

.padding_top_9 {
  padding-top: 72px;
}

.padding_top_10 {
  padding-top: 80px;
}

.padding_top_11 {
  padding-top: 88px;
}

.padding_top_12 {
  padding-top: 96px;
}

.padding_top_13 {
  padding-top: 104px;
}

.padding_top_14 {
  padding-top: 112px;
}

.padding_top_15 {
  padding-top: 120px;
}

.margin_left_1 {
  margin-left: 8px;
}

.margin_left_2 {
  margin-left: 16px;
}

.margin_left_3 {
  margin-left: 24px;
}

.margin_left_4 {
  margin-left: 32px;
}

.margin_left_5 {
  margin-left: 40px;
}

.margin_left_6 {
  margin-left: 48px;
}

.margin_left_7 {
  margin-left: 56px;
}

.margin_left_8 {
  margin-left: 64px;
}

.margin_left_9 {
  margin-left: 72px;
}

.margin_left_10 {
  margin-left: 80px;
}

.margin_top_1 {
  margin-top: 8px;
}

.margin_top_2 {
  margin-top: 16px;
}

.margin_top_3 {
  margin-top: 24px;
}

.margin_top_4 {
  margin-top: 32px;
}

.margin_top_5 {
  margin-top: 40px;
}

.margin_top_6 {
  margin-top: 48px;
}

.margin_top_7 {
  margin-top: 56px;
}

.margin_top_8 {
  margin-top: 64px;
}

.margin_top_9 {
  margin-top: 72px;
}

.margin_top_10 {
  margin-top: 80px;
}

.margin_top_11 {
  margin-top: 88px;
}

.margin_top_12 {
  margin-top: 96px;
}

.margin_top_13 {
  margin-top: 104px;
}

.margin_top_14 {
  margin-top: 112px;
}

.margin_top_15 {
  margin-top: 120px;
}

.button_large {
  width: 150px;
  padding: 8px 0;
  text-align: center;
  border: 1px solid #AD6E4A;
}

.button_min {
  width: 100px;
  padding: 8px 0;
  text-align: center;
  border: 1px solid #AD6E4A;
}

.icon {
  max-width: 20px;
}

.container {
  margin: 0 auto;
  padding-top: 15vh;
}

canvas {
  display: block;
}

/* ---- particles.js container ---- */
#particles-js {
  z-index: -10;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #0c0d18;
}

body {
  overflow-x: hidden;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  background-color: #0c0d18;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 12vh;
  z-index: 9999;
}

nav .logo h1 a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url("../../img/logo.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 200px;
  height: 30px;
  margin: 0 8px;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 75%;
}

nav .nav-links a {
  width: 100%;
  color: #ffffff;
  padding: 8px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

nav .nav-links a:hover {
  color: #AD6E4A;
}

@media all and (max-width: 992px) {
  nav .nav-links a:hover {
    color: #0c0d18;
  }
}

nav .nav-links .bread {
  color: #AD6E4A;
  font-weight: 900;
  font-size: 16px;
}

nav .nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 12%;
  margin-left: 50px;
}

@media all and (max-width: 768px) {
  nav .nav-icons {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

nav .nav-icons .member {
  position: relative;
}

nav .nav-icons .info {
  width: 100%;
  cursor: pointer;
  position: relative;
}

nav .nav-icons .info img {
  width: 35px;
}

@media all and (max-width: 768px) {
  nav .nav-icons .info img {
    width: 30px;
  }
}

nav .nav-icons .info .infoData {
  position: absolute;
  background-color: #AD6E4A;
  width: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
}

nav .nav-icons .info .infoData::before {
  content: "";
  width: 10px;
  height: 10px;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  background-color: #AD6E4A;
  position: absolute;
  z-index: 0;
}

nav .nav-icons .info .infoData a {
  text-align: center;
  color: #0c0d18;
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 10px 0;
  z-index: 1;
}

nav .nav-icons .info .infoData a:hover {
  color: #dec2b2;
}

nav .nav-icons .info .show {
  display: block;
}

nav .burger {
  display: none;
  cursor: pointer;
  margin-left: 8px;
}

nav .burger div {
  width: 25px;
  height: 2px;
  background-color: #ffffff;
  margin: 5px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

nav .nav-cart {
  cursor: pointer;
  position: relative;
}

nav .nav-cart .count {
  width: 25px;
  height: 25px;
  background-color: #AD6E4A;
  border-radius: 50%;
  text-align: center;
  line-height: 1.5rem;
  position: absolute;
  -webkit-transform: translate(50%, -150%);
          transform: translate(50%, -150%);
  display: block;
  color: white;
}

@media all and (max-width: 992px) {
  nav .nav-cart .count {
    -webkit-transform: translate(100%, -150%);
            transform: translate(100%, -150%);
  }
}

@media all and (max-width: 768px) {
  nav .nav-cart .count {
    -webkit-transform: translate(40%, -170%);
            transform: translate(40%, -170%);
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 1.25rem;
  }
}

nav .nav-trip {
  cursor: pointer;
  position: relative;
}

nav .nav-trip .trip-count {
  width: 25px;
  height: 25px;
  background-color: #AD6E4A;
  border-radius: 50%;
  text-align: center;
  line-height: 1.5rem;
  position: absolute;
  -webkit-transform: translate(50%, -150%);
          transform: translate(50%, -150%);
  display: block;
  color: white;
}

@media all and (max-width: 992px) {
  nav .nav-trip .trip-count {
    -webkit-transform: translate(100%, -150%);
            transform: translate(100%, -150%);
  }
}

@media all and (max-width: 768px) {
  nav .nav-trip .trip-count {
    -webkit-transform: translate(40%, -170%);
            transform: translate(40%, -170%);
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 1.25rem;
  }
}

@media (max-width: 992px) {
  nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  nav .nav-links {
    position: absolute;
    right: -100%;
    height: 88vh;
    top: 12vh;
    background-color: #292B41;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30%;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
  }
  nav .nav-links li {
    width: 100%;
    text-align: center;
    margin-left: 0;
    opacity: 0;
  }
  nav .nav-links li a {
    display: block;
    padding: 24px 0;
  }
  nav .nav-icons {
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  nav .nav-icons .icon {
    margin: 0 50px 0 15px;
  }
  nav .burger {
    display: block;
  }
  nav .nav-active {
    right: 0%;
  }
}

@media (max-width: 768px) {
  nav .logo {
    margin: 0 8px;
  }
  nav .nav-links {
    width: 100%;
  }
  nav .nav-icons {
    width: 50%;
    margin-left: 16px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .nav-icons .icon {
    margin: 0;
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(45deg) translate(4px, 6px);
          transform: rotate(45deg) translate(4px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(-45deg) translate(3px, -6px);
          transform: rotate(-45deg) translate(3px, -6px);
}

footer {
  background-color: #0c0d18;
  position: relative;
}

footer .links {
  position: absolute;
  bottom: 20%;
  width: 100%;
  z-index: 1;
}

footer .links .logo {
  max-width: 128px;
  position: relative;
  left: 50%;
  bottom: 50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

footer .links .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 55%;
  position: relative;
  left: 50%;
  bottom: 30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

footer .links .footer-links a {
  color: #ffffff;
}

footer .footer_moon {
  position: relative;
  left: 50%;
  max-width: 40%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

footer .smoke {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 80%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 768px) {
  footer .links .logo {
    bottom: 0;
  }
  footer .links .footer-links {
    display: none;
  }
  footer .footer_moon {
    min-width: 250px;
  }
}

.quantity label {
  display: block;
}

.quantity .as {
  color: #AD6E4A;
}

.quantity .as input[type=number] {
  max-width: 50px;
  background-color: transparent;
  outline: none;
  border: none;
  text-align: center;
  color: #AD6E4A;
}

.quantity .as span {
  border: 1px solid #AD6E4A;
  outline: none;
  background-color: transparent;
  padding: 4px 8px;
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.go-top {
  font-family: "Proxima Nova";
  position: fixed;
  bottom: 80px;
  right: 80px;
  text-decoration: none;
  background-image: url(../../img/icon/TOP.png);
  width: 28px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-animation: float 3s cubic-bezier(0.1, 0.1, 0.88, 0.88) infinite;
          animation: float 3s cubic-bezier(0.1, 0.1, 0.88, 0.88) infinite;
  z-index: 10;
}

@media all and (max-width: 768px) {
  .go-top {
    background-image: none;
  }
}

.container-fluid {
  padding: 0;
  margin: 0;
  background: #0c0d18;
}

@media all and (max-width: 768px) {
  .container-fluid {
    margin: 0;
  }
}

nav {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(9%, rgba(12, 13, 24, 0.448915)), to(rgba(12, 13, 24, 0)));
  background: linear-gradient(-180deg, rgba(12, 13, 24, 0.448915) 9%, rgba(12, 13, 24, 0) 100%);
}

.video-bg {
  height: 100vh;
  overflow: hidden;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, rgba(255, 255, 255, 0)), to(#0c0d18));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, #0c0d18 100%);
  z-index: 2;
}

.overlay-off .video-overlay {
  z-index: 0;
}

@media only screen and (max-width: 1200px) {
  .banner_bg {
    height: 100vh;
  }
}

.frame {
  border: 1px solid #ad6e4a57;
  margin: 0 auto;
}

button {
  background-color: transparent;
  color: #AD6E4A;
}

button a {
  text-decoration: none;
  color: #AD6E4A;
}

button:hover {
  color: #ffff;
  border: 1px solid #AD6E4A;
  background: #AD6E4A;
}

button:hover a {
  text-decoration: none;
  color: white;
}

.banner {
  position: absolute;
  top: 40%;
  left: 17%;
}

.banner .slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .slogan p {
  font-size: 7rem;
  color: white;
  font-family: "Haettenschweiler", sans-serif;
  letter-spacing: 15px;
  -webkit-box-shadow: grey;
          box-shadow: grey;
}

.banner .scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .scroll img {
  margin-top: 20%;
}

@media only screen and (max-width: 1200px) {
  .banner {
    top: 25%;
    left: 5%;
  }
  .banner .slogan p {
    font-size: 5rem;
    word-wrap: wrap;
  }
}

.home_intro {
  margin-top: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home_intro h2 {
  text-align: center;
}

.home_intro h4 {
  text-align: center;
}

.stepsection {
  background-color: transparent;
}

@media all and (max-width: 768px) {
  .stepsection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.first_right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media all and (max-width: 1200px) {
  .first_right {
    overflow: hidden;
    width: 95%;
  }
}

.first_right .hottrip {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media screen and (max-width: 767px) {
  .first_right .hottrip {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.first_right .hottrip div.planet_top {
  position: relative;
  padding-top: 90px;
  text-align: center;
  width: 55%;
  padding-left: 24px;
  padding-right: 24px;
}

.first_right .hottrip div.planet_top:hover {
  -webkit-transform: translateY(0.2em);
          transform: translateY(0.2em);
}

.first_right .hottrip div.planet_top.planet_top:nth-child(1) {
  -webkit-animation: float 5s cubic-bezier(0.1, 0.1, 0.88, 0.88) infinite;
          animation: float 5s cubic-bezier(0.1, 0.1, 0.88, 0.88) infinite;
}

.first_right .hottrip div.planet_top.planet_top:nth-child(2) {
  -webkit-animation: float 5.5s cubic-bezier(0.1, 0.1, 0.88, 0.88) infinite;
          animation: float 5.5s cubic-bezier(0.1, 0.1, 0.88, 0.88) infinite;
}

.first_right .hottrip div.planet_top.planet_top:nth-child(3) {
  -webkit-animation: float 6s cubic-bezier(0.1, 0.1, 0.88, 0.88) infinite;
          animation: float 6s cubic-bezier(0.1, 0.1, 0.88, 0.88) infinite;
}

.first_right .hottrip div.planet_top.planet_top:nth-child(4) {
  -webkit-animation: float 6.5s cubic-bezier(0.1, 0.1, 0.88, 0.88) infinite;
          animation: float 6.5s cubic-bezier(0.1, 0.1, 0.88, 0.88) infinite;
}

@media all and (max-width: 1200px) {
  .first_right .hottrip div.planet_top {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.first_right .hottrip div.planet_top h4 {
  color: #C9ADA7;
}

.first_right .hottrip div.planet_top img.planet {
  height: 160px;
  position: absolute;
  top: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}

.first_right .hottrip div.planet_top img.planet_a1 {
  max-width: 270px;
}

.first_right .hottrip div.planet_top img.planet_a1:hover {
  -webkit-transform: translateY(0.2em);
          transform: translateY(0.2em);
}

.first_right .hottrip div.planet_top div.word {
  position: absolute;
  top: 190px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  margin: 0 auto;
}

.first_right .hottrip div.planet_top div.word .hot {
  color: #AD6E4A;
}

.first_right .hottrip div.planet_top div.word .tag {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid #cccaca;
  border-radius: 5px;
  padding: 8px;
  line-height: 5px;
  margin: 3px;
  color: #cccaca;
}

.first_right .hottrip div.planet_top div.word .price {
  color: #AD6E4A;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 8px;
  font-family: "Nasalization";
}

.first_right .hottrip div.planet_top div.word .addin {
  background-color: #AD6E4A;
  color: #ffffff;
  border-radius: 15px;
  width: 110px;
  margin: 0 auto;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  border: none;
}

.first_right .hottrip div.planet_top div.word .addin img.plus {
  width: 15px;
  display: inline-block;
  position: relative;
  top: 2px;
  padding-right: 4px;
}

.first_right .hottrip div.planet_top div.word .addin:hover {
  background-color: #bf896b;
}

@media all and (max-width: 768px) {
  .first_right .hottrip div.planet_top {
    width: 100%;
  }
}

@media all and (max-width: 1100px) {
  .planet_box {
    margin-top: 48px;
  }
  .separator {
    width: 90%;
  }
  #marsloc {
    margin-top: 32px;
  }
}

canvas {
  height: 100%;
}

.home_photowall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.home_photowall .tz-gallery {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* Override bootstrap column paddings */
}

.home_photowall .tz-gallery .upper, .home_photowall .tz-gallery .lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home_photowall .tz-gallery .lightbox:hover img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.home_photowall .tz-gallery .loghtbox:hover {
  color: green;
}

.home_photowall .tz-gallery .lightbox img {
  width: 100%;
  border-radius: 0;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.home_photowall .tz-gallery .lightbox {
  overflow: hidden;
}

.shop_box .home_shop {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shop_box .home_shop a {
  margin: 0 auto;
}

.shop_box .home_shop h2 {
  margin: 0 auto;
}

.shop_box .home_shop .shopRWD {
  display: none;
}

@media all and (max-width: 1200px) {
  .shop_box .home_shop .shopItem {
    display: none;
  }
  .shop_box .home_shop .shopRWD {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .shop_box .home_shop .shopRWD .shop_carousel {
    display: block;
    background-color: #0c0d18;
    max-width: 500px;
  }
  .shop_box .home_shop .shopRWD .shop_carousel .carousel-item {
    background-color: #0c0d18;
  }
  .shop_box .home_shop .shopRWD .shop_carousel .carousel-item img {
    max-height: 400px;
    margin: 0 auto;
  }
  .shop_box .home_shop .button_min {
    margin-top: 24px;
  }
}

.shopItem {
  display: block;
  max-height: 650px;
  min-width: 800px;
  margin: 0 auto;
  margin-top: 80px;
}

.shopItem .hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #4e7192;
}

.shopItem .hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shopItem .hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.shopItem .hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.shopItem .hovereffect:hover h2:after, .shopItem .hovereffect h4:after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.shopItem .hovereffect a, .shopItem .hovereffect h2, .shopItem .hovereffect h4 {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.shopItem .hovereffect:hover a, .shopItem .hovereffect:hover h2, .shopItem .hovereffect:hover h4 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.shopItem .item1 .hovereffect {
  position: relative;
  left: 150px;
  z-index: 1;
  min-width: 500px;
  max-width: 500px;
  max-height: 250px;
}

.shopItem .item1 .hovereffect img {
  max-width: 510px;
}

.shopItem .item2 .hovereffect {
  position: relative;
  top: -150px;
  left: -80px;
  z-index: 1;
  max-height: 600px;
  max-width: 250px;
}

.shopItem .item2 .hovereffect img {
  max-width: 260px;
  height: 350px;
}

.shopItem .item3 .hovereffect {
  position: relative;
  left: 100px;
  bottom: 300px;
  max-height: 320px;
  width: 320px;
}

.shopItem .item3 .hovereffect img {
  max-width: 410px;
}

.shopItem .item4 .hovereffect {
  position: relative;
  z-index: 1;
  bottom: 550px;
  left: 450px;
  max-height: 270px;
  width: 280px;
}

.shopItem .item4 .hovereffect img {
  max-width: 290px;
}

.shopItem .item5 .hovereffect {
  position: relative;
  bottom: 1000px;
  left: 550px;
  max-height: 350px;
  min-width: 350px;
}

.shopItem .item5 .hovereffect img {
  max-width: 400px;
}

.flow_member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flow_member .flowall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 10%;
          column-gap: 10%;
}

.flow_member .flowall .flow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.flow_member .flowall .flow .flowTitle {
  color: #AD6E4A;
}

.flow_member .flowall .flow img {
  max-width: 60px;
  max-height: 60px;
  margin: 0 auto;
}

.flow_member .flowall .flow .separator {
  height: 1px;
  width: 100%;
  border-top: solid 1px #AD6E4A;
}

.flow_member .flowall .flow h4 {
  color: #C9ADA7;
  justify-items: center;
  line-height: 1.5rem;
}

.flow_member .memberbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

@media all and (max-width: 1200px) {
  .flow_member .flowall {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .flow_member .flowall .flow .separator {
    width: 100%;
  }
}

.flow_member, .shop_box, .gallery {
  margin-top: 30vh;
}
/*# sourceMappingURL=home.css.map */