input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

body {
  background-color: #0c0d18;
  font-family: "Microsoft JhengHei";
}

.svgRight::before {
  content: url(../../img/chevron-compact-right.svg) !important;
  width: 20px;
  height: 20px;
}

.checkbox-1 {
  border: 1px solid #ad6e4a;
}

.width-50 {
  width: 50%;
}

.backco {
  background-color: #292B41;
}

.titi {
  line-height: 50px;
  font-size: 18px;
}

.textRight {
  text-align: right;
}

.text-cn {
  padding-left: 3%;
}

.textHeight-1 {
  line-height: 10px;
}

.textHeight-2 {
  line-height: 20px;
}

.backcol {
  background-color: #292B41;
}

.divider {
  padding-top: 1%;
  border-bottom: 1px solid;
  border-color: #ad6e4a;
  width: 90%;
  margin: 0 auto;
}

.divider-1 {
  padding-top: 1%;
  border-bottom: 1px solid;
  border-color: #ad6e4a;
  width: 96%;
}

.text-va {
  vertical-align: text-top;
}

.textcolor {
  color: #C9ADA7;
  font-size: 16px;
}

.textcolor-1 {
  color: #ad6e4a;
  font-size: 16px;
}

.h4 {
  font-size: 18px;
  color: #C9ADA7;
  margin: 0;
}

.h5 {
  font-size: 18px;
  color: #C9ADA7;
  margin: 0;
  width: 100%;
  max-width: 150px;
}

.h6 {
  font-weight: 900;
  color: #C9ADA7;
  font-size: 18px;
  width: 100%;
  margin: 0;
}

.h7 {
  color: #ad6e4a;
  line-height: 30px;
  font-size: 18px;
  width: 100%;
  margin: 0;
}

.h8 {
  line-height: 30px;
  color: #C9ADA7;
  font-size: 16px;
  width: 100%;
  margin: 0;
}

.h9 {
  color: #ad6e4a;
  font-size: 16px;
  line-height: 30px;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.letter-spacing-2 {
  letter-spacing: 2px;
}

.padding_right-1 {
  padding-right: 8px;
}

.padding_right-2 {
  padding-right: 16px;
}

.padding_right-3 {
  padding-right: 24px;
}

.padding_bottom-1 {
  padding-bottom: 5%;
}

.padding_bottom-20 {
  padding-bottom: 20px;
}

.padding_bottom-80 {
  padding-bottom: 80px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.imgs {
  width: 100%;
  max-width: 100px;
  height: 100%;
  max-height: 50px;
  object-fit: contain;
}

.imgsr {
  width: 100%;
  max-width: 150px;
  height: auto;
  max-height: 150px;
  object-fit: cover;
}

#paymethod-coin-nu {
  background-color: #292B41;
  border: 1px solid #AD6E4A;
  color: #fff;
  font-size: 16px;
  width: 30%;
  letter-spacing: 2px;
  transition: all 0.5s;
}

#paymethod-coin-nu:focus {
  background-color: #ad6e4a;
  outline: none;
}

.button_large-1 {
  width: 100px;
  font-size: 12px;
  color: #fff;
  background-color: #ad6e4a;
  padding: 15px;
  text-align: center;
  border: 1px solid #AD6E4A;
}

.btn-allAuto {
  width: 100%;
  text-align: justify;
  background-color: #292B41;
  outline: none;
  border: none;
  color: #C9ADA7;
  font-size: 18px;
  padding: 30px 0;
}

.btn-allAuto::before {
  content: url(../../img/chevron-down.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-right: 8px;
}

.icon-1 {
  width: 25px;
  height: 25px;
}

.checkbox_custom {
  opacity: 0;
  position: absolute;
  width: 20px;
}

.checkbox_custom, .checkbox_custom_label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}

.checkbox_custom_label {
  position: relative;
  font-weight: 900;
}

.checkbox_custom + .checkbox_custom_label:before {
  content: '';
  background: transparent;
  border: 1px solid #ad6e4a;
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 2px;
  margin-right: 10px;
  text-align: center;
}

.checkbox_custom:checked + .checkbox_custom_label:before {
  content: "";
  background: #ad6e4a;
}

.checkbox_custom:focus + .checkbox_custom-label {
  outline: 1px solid #ddd;
}

form {
  padding: 0 0 0 0;
  height: 100%;
}

form .orderinfo .row {
<<<<<<< HEAD
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
=======
  justify-content: center;
  align-content: center;
>>>>>>> 5badf5bb2eed3e9ef55ccab2f7d645bfd9e24c24
}

form .orderinfo .row .col-10 {
  background-color: #292B41;
  border-radius: 5px;
  padding-bottom: 10px;
}

form .orderinfo .row .col-10 .row {
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 5badf5bb2eed3e9ef55ccab2f7d645bfd9e24c24
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

form .orderinfo .row .col-10 .row .col-7 {
  display: -webkit-box;
  display: -ms-flexbox;
<<<<<<< HEAD
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
=======
=======
  justify-content: space-around;
}

form .orderinfo .row .col-10 .row .col-7 {
>>>>>>> 853d0fe17bc16fa73b23853e5fe4eeed2b5ce7c9
  display: flex;
  flex-direction: column;
>>>>>>> 5badf5bb2eed3e9ef55ccab2f7d645bfd9e24c24
}

form .orderinfo .row .col-10 .row .col-7 input {
  font-size: 16px;
  color: #fff;
  width: 100%;
  background-color: #292B41;
  border: 1px solid #ad6e4a;
  padding: 5px 10px;
  transition: all 0.3s;
}

form .orderinfo .row .col-10 .row .col-7 input:focus {
  background-color: #ad6e4a;
  outline: none;
}

form .orderinfo .row .col-10 .row .col-11 {
  margin: 0;
  display: flex;
<<<<<<< HEAD
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
=======
  align-content: flex-start;
  flex-direction: column;
>>>>>>> 5badf5bb2eed3e9ef55ccab2f7d645bfd9e24c24
}

form .orderinfo .row .col-10 .row .col-11 input {
  color: #fff;
  width: 100%;
  background-color: #292B41;
  border: 1px solid #ad6e4a;
  padding: 5px 10px;
}

form .ltineraryinfo .row {
<<<<<<< HEAD
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
=======
  justify-content: center;
>>>>>>> 5badf5bb2eed3e9ef55ccab2f7d645bfd9e24c24
}

form .ltineraryinfo .row .col-10 .row {
  margin-bottom: 32px;
  background-color: #292B41;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

form .ltineraryinfo .row .col-10 .row .col-3 {
  padding-top: 16px;
  padding-bottom: 16px;
}

form .ltineraryinfo .row .col-10 .row .col-3 img {
  max-width: 150px;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 5badf5bb2eed3e9ef55ccab2f7d645bfd9e24c24
  -o-object-fit: cover;
     object-fit: cover;
}

form .ltineraryinfo .row .col-10 .row .col-7 .row {
  display: -webkit-box;
  display: -ms-flexbox;
<<<<<<< HEAD
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
=======
=======
  object-fit: cover;
}

form .ltineraryinfo .row .col-10 .row .col-7 .row {
>>>>>>> 853d0fe17bc16fa73b23853e5fe4eeed2b5ce7c9
  display: flex;
  justify-content: space-between;
>>>>>>> 5badf5bb2eed3e9ef55ccab2f7d645bfd9e24c24
  height: 100%;
  width: 100%;
}

form .ltineraryinfo .row .col-10 .row .col-7 .row .col-11 {
<<<<<<< HEAD
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

form .ltineraryinfo .row .col-10 .row .col-7 .row .text-div {
=======
  align-items: flex-end;
}

form .ltineraryinfo .row .col-10 .row .col-7 .row .text-div {
<<<<<<< HEAD
>>>>>>> 5badf5bb2eed3e9ef55ccab2f7d645bfd9e24c24
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
<<<<<<< HEAD
=======
=======
  display: flex;
  justify-content: center;
  flex-direction: column;
>>>>>>> 853d0fe17bc16fa73b23853e5fe4eeed2b5ce7c9
>>>>>>> 5badf5bb2eed3e9ef55ccab2f7d645bfd9e24c24
  padding: 0px 0;
}

form .ltineraryinfo .row .col-10 .row .col-7 .row .text-div img {
  width: 25px;
  height: 25px;
}

form .addPay .row {
<<<<<<< HEAD
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
=======
  justify-content: center;
>>>>>>> 5badf5bb2eed3e9ef55ccab2f7d645bfd9e24c24
}

form .addPay .row .col-10 {
  border-radius: 5px;
}

form .addPay .row .col-10 .automena .row .col-10 {
<<<<<<< HEAD
  display: -webkit-box;
  display: -ms-flexbox;
=======
<<<<<<< HEAD
  display: -webkit-box;
  display: -ms-flexbox;
=======
>>>>>>> 853d0fe17bc16fa73b23853e5fe4eeed2b5ce7c9
>>>>>>> 5badf5bb2eed3e9ef55ccab2f7d645bfd9e24c24
  display: flex;
}

form .addPay .row .col-10 .automena .row .col-10 .sss {
  display: flex;
  background-color: #191919;
  margin-bottom: 3%;
  width: 100%;
  padding: 15px 10px;
  cursor: pointer;
}

form .addPay .row .col-10 .automena .row .col-10 .sss img {
  width: 100px;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 5badf5bb2eed3e9ef55ccab2f7d645bfd9e24c24
  -o-object-fit: cover;
     object-fit: cover;
}

form .addPay .row .col-10 .automena .row .col-10 .sssb:focus .sss {
  background-color: #fff;
=======
  object-fit: cover;
>>>>>>> 853d0fe17bc16fa73b23853e5fe4eeed2b5ce7c9
}

form .addPay .row .col-10 .automena .row .col-10 input {
  display: none;
}

form .addPay .row .col-10 .automena .row .col-11 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form .addPay .row .col-10 .automena .row .col-11 input {
  display: none;
}

form .paymethod .row {
  justify-content: center;
}

form .paymethod .row .col-10 .paymethod-automanu .row #paymethod-coin, form .paymethod .row .col-10 .paymethod-automanu .row #paymethod-automanu-car {
  display: none;
}

form .paymethod .row .col-10 .paymethod-automanu .row .col-11 {
<<<<<<< HEAD
  display: -webkit-box;
  display: -ms-flexbox;
=======
<<<<<<< HEAD
  display: -webkit-box;
  display: -ms-flexbox;
=======
>>>>>>> 853d0fe17bc16fa73b23853e5fe4eeed2b5ce7c9
>>>>>>> 5badf5bb2eed3e9ef55ccab2f7d645bfd9e24c24
  display: flex;
  align-items: center;
}

form .paymethod .row .col-10 .paymethod-automanu .row .col-12 .paymethod-automanu-car-automanu .row {
<<<<<<< HEAD
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
=======
<<<<<<< HEAD
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
=======
  justify-content: space-evenly;
>>>>>>> 853d0fe17bc16fa73b23853e5fe4eeed2b5ce7c9
>>>>>>> 5badf5bb2eed3e9ef55ccab2f7d645bfd9e24c24
}

form .paymethod .row .col-10 .paymethod-automanu .row .col-12 .paymethod-automanu-car-automanu .row input {
  width: 100%;
  font-size: 16px;
  background-color: #292B41;
  border: 1px solid #AD6E4A;
  border-radius: 5px;
  padding: 5px 10px;
  transition: all 0.5s;
}

form .paymethod .row .col-10 .paymethod-automanu .row .col-12 .paymethod-automanu-car-automanu .row input:focus {
  background-color: #ad6e4a;
  outline: none;
}

form .paymethod .row .col-10 .paymethod-automanu .row .col-5 input.paymethod-coin-btn {
  width: 50px;
  height: 20px;
  outline: none;
  border-color: #ad6e4a;
  background-color: #ad6e4a;
  color: #fff;
  line-height: 0px;
}

form .paymethod .row .col-10 .paymethod-automanu .row .col-4 {
<<<<<<< HEAD
  display: -webkit-box;
  display: -ms-flexbox;
=======
<<<<<<< HEAD
  display: -webkit-box;
  display: -ms-flexbox;
=======
>>>>>>> 853d0fe17bc16fa73b23853e5fe4eeed2b5ce7c9
>>>>>>> 5badf5bb2eed3e9ef55ccab2f7d645bfd9e24c24
  display: flex;
  align-items: center;
}

form .paymethod .row .col-10 .paymethod-automanu .row .col-4 .intput-nu {
  background-color: #292B41;
}

form .orderDetails .row {
  justify-content: center;
}

form .orderDetails .row .allpay-div {
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 5badf5bb2eed3e9ef55ccab2f7d645bfd9e24c24
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
<<<<<<< HEAD
=======
=======
  display: flex;
  justify-content: flex-end;
>>>>>>> 853d0fe17bc16fa73b23853e5fe4eeed2b5ce7c9
>>>>>>> 5badf5bb2eed3e9ef55ccab2f7d645bfd9e24c24
}

form .orderDetails .row .col-10 .orderDetails-automanu .col-3 {
  padding-top: 16px;
  padding-bottom: 16px;
}

form .orderDetails .row .col-10 .orderDetails-automanu .col-3 img {
  max-width: 150px;
  object-fit: cover;
}

form .orderDetails .row .col-10 .orderDetails-automanu .col-11 .payadd {
  width: 100%;
}

form .orderDetails .row .col-10 .orderDetails-automanu .col-11 .payadd .orderDetails-automanu-textdiv {
  width: 100%;
}

form .orderDetails .row .col-10 .orderDetails-automanu .col-11 .payadd .orderDetails-automanu-textdiv .textbox {
<<<<<<< HEAD
  display: -webkit-box;
  display: -ms-flexbox;
=======
>>>>>>> 5badf5bb2eed3e9ef55ccab2f7d645bfd9e24c24
  display: flex;
  width: 100%;
}

form .orderDetails .row .col-10 .orderDetails-automanu .col-11 .orderDetails-automanu-textdiv {
  width: 100%;
}

form .orderDetails .row .col-10 .orderDetails-automanu .col-11 .orderDetails-automanu-textdiv .textbox {
<<<<<<< HEAD
  display: -webkit-box;
  display: -ms-flexbox;
=======
<<<<<<< HEAD
  display: -webkit-box;
  display: -ms-flexbox;
=======
>>>>>>> 853d0fe17bc16fa73b23853e5fe4eeed2b5ce7c9
>>>>>>> 5badf5bb2eed3e9ef55ccab2f7d645bfd9e24c24
  display: flex;
  width: 100%;
}

form .orderDetails .row .col-10 .orderDetails-automanu .col-7 {
<<<<<<< HEAD
  display: -webkit-box;
  display: -ms-flexbox;
=======
>>>>>>> 5badf5bb2eed3e9ef55ccab2f7d645bfd9e24c24
  display: flex;
}

form .orderDetails .row .col-10 .orderDetails-automanu .col-7 .row {
<<<<<<< HEAD
  display: -webkit-box;
  display: -ms-flexbox;
=======
<<<<<<< HEAD
  display: -webkit-box;
  display: -ms-flexbox;
=======
>>>>>>> 853d0fe17bc16fa73b23853e5fe4eeed2b5ce7c9
>>>>>>> 5badf5bb2eed3e9ef55ccab2f7d645bfd9e24c24
  display: flex;
  justify-content: space-around;
  width: 100%;
}

form .orderDetails .row .col-10 .orderDetails-automanu .col-7 .row .text-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  padding: 8px 0;
}

form .orderDetails .row .col-10 .orderDetails-automanu .col-7 .row .text-div img {
  width: 25px;
  height: 25px;
}

form .orderDetails .row .col-10 .btn-orderDetails {
  width: 100%;
  text-align: left;
  background-color: #292B41;
  outline: none;
  border: none;
  color: #fff;
  font-size: 18px;
}

form .orderDetails .row .col-10 .btn-orderDetails::before {
  content: url(../../img/chevron-down.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-right: 8px;
}
/*# sourceMappingURL=order-itineray.css.map */