input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

body {
  background-color: #0c0d18;
}

.svgRight::before {
  content: url(../../img/chevron-compact-right.svg) !important;
  width: 20px;
  height: 20px;
}

.width-50 {
  width: 50%;
}

.backco {
  background-color: #0c0d18;
}

.titi {
  background-color: #0c0d18;
  line-height: 80px;
}

.textRight {
  text-align: right;
}

.textHeight-1 {
  line-height: 10px;
}

.textHeight-2 {
  line-height: 20px;
}

.backcol {
  background-color: #3a3a3e;
}

.divider {
  padding-top: 1%;
  border-bottom: 1px solid;
  border-color: #ad6e4a;
  width: 90%;
  margin: 0 auto;
}

.divider-1 {
  padding-top: 1%;
  border-bottom: 1px solid;
  border-color: #ad6e4a;
  width: 96%;
}

.textcolor {
  color: #fff;
  font-size: 16px;
}

.h4 {
  font-size: 24px;
  color: #fff;
  margin: 0;
}

.h5 {
  font-size: 24px;
  color: #fff;
  margin: 0;
  width: 100%;
  max-width: 150px;
}

.h6 {
  font-weight: 900;
  color: #C9ADA7;
  font-size: 24px;
  width: 100%;
  margin: 0;
}

.h7 {
  color: #ad6e4a;
  line-height: 30px;
  font-size: 24px;
  width: 100%;
  margin: 0;
}

.h8 {
  line-height: 30px;
  color: #C9ADA7;
  font-size: 16px;
  width: 100%;
  margin: 0;
}

.h9 {
  color: #ad6e4a;
  font-size: 16px;
  line-height: 30px;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.letter-spacing-2 {
  letter-spacing: 2px;
}

.padding_right-1 {
  padding-right: 8px;
}

.padding_right-2 {
  padding-right: 16px;
}

.padding_right-3 {
  padding-right: 24px;
}

.padding_bottom-1 {
  padding-bottom: 5%;
}

.imgs {
  width: 100%;
  max-width: 100px;
  height: 100%;
  max-height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.imgsr {
  width: 100%;
  max-width: 150px;
  height: auto;
  max-height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

#paymethod-coin-nu {
  background-color: #3a3a3e;
  border: 1px solid #AD6E4A;
  height: 25px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 5px;
}

.button_large-1 {
  width: 150px;
  font-size: 24px;
  color: #fff;
  background-color: #ad6e4a;
  padding: 15px;
  text-align: center;
  border: 1px solid #AD6E4A;
}

form {
  padding: 120px 0 500px 0;
  height: 100%;
}

form .orderinfo .container .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

form .orderinfo .container .row .col-7 {
  background-color: #3a3a3c;
  border-radius: 5px;
  padding-bottom: 10px;
}

form .orderinfo .container .row .col-7 .btn-openmenu {
  width: 100%;
  text-align: left;
  background-color: #3a3a3c;
  border-radius: 5px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 24px;
}

form .orderinfo .container .row .col-7 .btn-openmenu::before {
  content: url(../../img/chevron-down.svg);
  padding-right: 8px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

form .orderinfo .container .row .col-7 .row .col-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form .orderinfo .container .row .col-7 .row .col-5 input {
  font-size: 16px;
  color: #fff;
  width: 80%;
  background-color: #3a3a3c;
  border: 1px solid #ad6e4a;
  border-radius: 5px;
  height: 40px;
}

form .orderinfo .container .row .col-7 .row .col-11 {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

form .orderinfo .container .row .col-7 .row .col-11 input {
  color: #fff;
  width: 90%;
  background-color: #3a3a3c;
  border: 1px solid #ad6e4a;
  border-radius: 5px;
  height: 40px;
}

form .ltineraryinfo .container .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

form .ltineraryinfo .container .row .col-7 .row {
  margin-bottom: 50px;
  background-color: #3a3a3c;
  border-radius: 5px;
}

form .ltineraryinfo .container .row .col-7 .row .col-11 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 5% 0;
}

form .ltineraryinfo .container .row .col-7 .row .col-11 img {
  width: 100%;
  max-width: 150px;
  height: auto;
  max-height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
}

form .ltineraryinfo .container .row .col-7 .row .col-11 .textinfo {
  width: 100%;
}

form .ltineraryinfo .container .row .col-7 .row .col-11 .textinfo .textinfo-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
  height: 100%;
}

form .ltineraryinfo .container .row .col-7 .row .col-11 .textinfo .textinfo-1 p {
  font-size: 16px;
  max-height: 50px;
  color: #fff;
}

form .ltineraryinfo .container .row .col-7 .row .col-11 .textinfo .textinfo-1 p img {
  max-width: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
}

form .addPay .container .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form .addPay .container .row .col-7 {
  border-radius: 5px;
}

form .addPay .container .row .col-7 .btn-addPay {
  width: 100%;
  text-align: left;
  background-color: #3a3a3c;
  outline: none;
  border: none;
  color: #fff;
  font-size: 24px;
}

form .addPay .container .row .col-7 .btn-addPay::before {
  content: url(../../img/chevron-down.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-right: 8px;
}

form .addPay .container .row .col-7 .automena .row .col-11 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form .addPay .container .row .col-7 .automena .row .col-11 .traffic-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ad6e4a;
  width: 100%;
  border-radius: 5px;
  height: 100%;
  margin: 0 10px 0px 10px;
  padding: 1% 0;
}

form .addPay .container .row .col-7 .automena .row .col-11 .traffic-div .coin {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

form .paymethod .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form .paymethod .row .col-7 .paymethod-automanu .row .col-11 .paymethod-automanu-car-automanu {
  display: none;
}

form .paymethod .row .col-7 .paymethod-automanu .row .col-11 .paymethod-automanu-car-automanu input {
  width: 100%;
  font-size: 16px;
  height: 30px;
  background-color: #3a3a3e;
  border: 1px solid #AD6E4A;
  border-radius: 5px;
}

form .paymethod .row .col-7 .paymethod-automanu .row .col-5 input.paymethod-coin-btn {
  width: 50px;
  height: 20px;
  outline: none;
  border-color: #ad6e4a;
  background-color: #ad6e4a;
  color: #fff;
  line-height: 0px;
}

form .paymethod .row .col-7 .paymethod-automanu .row .col-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form .paymethod .row .col-7 .paymethod-automanu .row .col-4 .intput-nu {
  background-color: #3a3a3e;
}

form .paymethod .row .col-7 .btn-paymethod {
  width: 100%;
  text-align: justify;
  background-color: #3a3a3c;
  outline: none;
  border: none;
  color: #fff;
  font-size: 24px;
}

form .paymethod .row .col-7 .btn-paymethod::before {
  content: url(../../img/chevron-down.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-right: 8px;
}

form .orderDetails .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form .orderDetails .row .allpay-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

form .orderDetails .row .col-7 .orderDetails-automanu .col-11 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form .orderDetails .row .col-7 .orderDetails-automanu .col-11 .orderDetails-automanu-textdiv {
  width: 100%;
}

form .orderDetails .row .col-7 .orderDetails-automanu .col-11 .orderDetails-automanu-textdiv .textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

form .orderDetails .row .col-7 .orderDetails-automanu .col-11 .orderDetails-automanu-textdiv .icon {
  vertical-align: middle;
}

form .orderDetails .row .col-7 .btn-orderDetails {
  width: 100%;
  text-align: left;
  background-color: #3a3a3c;
  outline: none;
  border: none;
  color: #fff;
  font-size: 24px;
}

form .orderDetails .row .col-7 .btn-orderDetails::before {
  content: url(../../img/chevron-down.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-right: 8px;
}
/*# sourceMappingURL=order-itineray.css.map */