html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
}

input[type=button], input[type=submit], input[type=file], button {
  cursor: pointer;
  -webkit-appearance: none;
}

body {
  font-family: "Microsoft JhengHei", "sans-serif";
  color: #C9ADA7;
  font-size: 14px;
  background-color: #0c0d18;
  overflow-x: hidden;
}

h1, .h1 {
  font-size: 32px;
}

h2, .h2 {
  font-size: 24px;
}

h3, .h3 {
  font-size: 18px;
}

h4, .h4 {
  font-size: 16px;
}

p, .p {
  font-size: 14px;
}

small, .small {
  font-size: 12px;
}

.line_high {
  line-height: 50px;
}

.line_low {
  line-height: 32px;
}

@font-face {
  font-family: "Microsoft JhengHei",  "Nasalization", "adobe-std-b";
  src: local("./fonts/msjh.ttc"), local("./fonts/msjhbd.ttc"), local("./fonts/HATTEN.TTF"), local("./fonts/Nasa.ttf"), local("./fonts/adobe-std-b.otf");
}

.padding_left_1 {
  padding-left: 8px;
}

.padding_left_2 {
  padding-left: 16px;
}

.padding_left_3 {
  padding-left: 24px;
}

.padding_left_4 {
  padding-left: 32px;
}

.padding_left_5 {
  padding-left: 40px;
}

.padding_left_6 {
  padding-left: 48px;
}

.padding_left_7 {
  padding-left: 56px;
}

.padding_left_8 {
  padding-left: 64px;
}

.padding_left_9 {
  padding-left: 72px;
}

.padding_left_10 {
  padding-left: 80px;
}

.padding_top_1 {
  padding-top: 8px;
}

.padding_top_2 {
  padding-top: 16px;
}

.padding_top_3 {
  padding-top: 24px;
}

.padding_top_4 {
  padding-top: 32px;
}

.padding_top_5 {
  padding-top: 40px;
}

.padding_top_6 {
  padding-top: 48px;
}

.padding_top_7 {
  padding-top: 56px;
}

.padding_top_8 {
  padding-top: 64px;
}

.padding_top_9 {
  padding-top: 72px;
}

.padding_top_10 {
  padding-top: 80px;
}

.margin_left_1 {
  margin-left: 8px;
}

.margin_left_2 {
  margin-left: 16px;
}

.margin_left_3 {
  margin-left: 24px;
}

.margin_left_4 {
  margin-left: 32px;
}

.margin_left_5 {
  margin-left: 40px;
}

.margin_left_6 {
  margin-left: 48px;
}

.margin_left_7 {
  margin-left: 56px;
}

.margin_left_8 {
  margin-left: 64px;
}

.margin_left_9 {
  margin-left: 72px;
}

.margin_left_10 {
  margin-left: 80px;
}

.margin_top_1 {
  margin-top: 8px;
}

.margin_top_2 {
  margin-top: 16px;
}

.margin_top_3 {
  margin-top: 24px;
}

.margin_top_4 {
  margin-top: 32px;
}

.margin_top_5 {
  margin-top: 40px;
}

.margin_top_6 {
  margin-top: 48px;
}

.margin_top_7 {
  margin-top: 56px;
}

.margin_top_8 {
  margin-top: 64px;
}

.margin_top_9 {
  margin-top: 72px;
}

.margin_top_10 {
  margin-top: 80px;
}

.button_large {
  width: 150px;
  padding: 15px;
  text-align: center;
  border: 1px solid #AD6E4A;
}

.button_min {
  width: 100px;
  padding: 15px;
  text-align: center;
  border: 1px solid #AD6E4A;
}

.icon {
  max-width: 20px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #0c0d18;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 12vh;
  z-index: 9999;
}

nav .logo h1 a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url("../img/logo.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 30px;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 60%;
}

nav .nav-links a {
  color: #ffffff;
}

nav .nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 12%;
}

nav .burger {
  display: none;
}

nav .burger div {
  width: 25px;
  height: 2px;
  background-color: #ffffff;
  margin: 5px;
}

footer {
  background-color: #0c0d18;
  position: relative;
}

footer .links {
  position: absolute;
  bottom: 20%;
  width: 100%;
  z-index: 1;
}

footer .links .logo {
  max-width: 128px;
  position: relative;
  left: 50%;
  bottom: 50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

footer .links .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 55%;
  position: relative;
  left: 50%;
  bottom: 30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

footer .links .footer-links a {
  color: #ffffff;
}

footer .footer_moon {
  position: relative;
  left: 50%;
  max-width: 550px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

footer .smoke {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 80%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.quantity label {
  display: block;
}

.quantity .as {
  color: #AD6E4A;
}

.quantity .as input[type=number] {
  max-width: 50px;
  background-color: transparent;
  outline: none;
  border: none;
  text-align: center;
  color: #AD6E4A;
}

.quantity .as span {
  border: 1px solid #AD6E4A;
  outline: none;
  background-color: transparent;
  padding: 4px 8px;
  cursor: pointer;
}

section.orderDetail {
  max-width: 948px;
  margin: 0 auto;
  padding-top: 5vh;
}

section.orderDetail .order {
  width: 95%;
  margin: 0 auto;
}

section.orderDetail .order li {
  font-weight: 900;
  background-color: #292B41;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 16px;
}

section.orderDetail .order li .imgWord {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section.orderDetail .order li .imgWord .prod {
  max-width: 80px;
  background-color: #ffffff;
  padding: 8px;
}

section.orderDetail .order li .imgWord .integral {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.orderDetail .order li .quantity {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section.orderDetail .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 16px 6% 16px 0;
  background-color: #292B41;
}

section.orderDetail .detail .total, section.orderDetail .detail .integral {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
}

section.orderDetail .detail .total p:nth-child(2), section.orderDetail .detail .integral p:nth-child(2) {
  font-weight: 900;
  color: #AD6E4A;
}

section.orderDetail .detail .total > .count, section.orderDetail .detail .integral > .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.orderDetail .detail small {
  margin-right: 6%;
}

section.orderer {
  max-width: 948px;
  margin: 0 auto;
}

section.orderer form {
  position: relative;
  padding-bottom: 80px;
}

section.orderer .orderer_form, section.orderer .recipient, section.orderer .payment {
  width: 95%;
  margin: 32px auto;
  background-color: #292B41;
  padding-bottom: 80px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
}

section.orderer .orderer_click, section.orderer .recipient_click, section.orderer .payment_click {
  padding: 16px 0;
  cursor: pointer;
  position: relative;
  left: 6%;
}

section.orderer .orderer_click::before, section.orderer .recipient_click::before, section.orderer .payment_click::before {
  content: "";
  width: 1px;
  height: 30%;
  background-color: #ffffff;
  position: absolute;
  left: -3.1%;
  -webkit-transform: rotate(45deg) translateY(-60%);
          transform: rotate(45deg) translateY(-60%);
  top: 50%;
}

section.orderer .orderer_click::after, section.orderer .recipient_click::after, section.orderer .payment_click::after {
  content: "";
  width: 1px;
  height: 30%;
  background-color: #ffffff;
  left: -3%;
  position: absolute;
  -webkit-transform: rotate(-45deg) translateY(-60%);
          transform: rotate(-45deg) translateY(-60%);
  top: 50%;
}

section.orderer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin-left: 6%;
}

section.orderer .info .input_group {
  width: 45%;
  margin-top: 16px;
}

section.orderer .info .long {
  width: 100%;
}

section.orderer .info label {
  display: block;
}

section.orderer .info input {
  color: #ffffff;
  background-color: transparent;
  outline: none;
  border: 1px solid #AD6E4A;
  padding: 5px 10px;
  width: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

section.orderer .info input:focus {
  background-color: #AD6E4A;
}

section.orderer .retract {
  max-height: 400px;
}

section.orderer .payTitle {
  width: 95%;
  margin: 0 auto;
}

section.orderer .input_check {
  width: 50%;
  display: inline-block;
}

section.orderer .input_check .icon {
  display: inline-block;
  width: 14px;
}

section.orderer .input_check .check-custom {
  opacity: 0;
  position: absolute;
}

section.orderer .input_check .check-custom, section.orderer .input_check .check-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
  position: relative;
}

section.orderer .input_check .check-custom::before, section.orderer .input_check .check-custom-label::before {
  content: '';
  background: transparent;
  border: 2px solid #AD6E4A;
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  padding: 2px;
  margin-right: 10px;
  text-align: center;
}

section.orderer .input_check .check-custom + .check-custom-label:before {
  border-radius: 50%;
}

section.orderer .input_check .check-custom:checked + .check-custom-label:before {
  background: #AD6E4A;
  -webkit-box-shadow: inset 0px 0px 0px 4px #AD6E4A;
          box-shadow: inset 0px 0px 0px 4px #AD6E4A;
}

section.orderer .input_check .check-custom:focus + .check-custom-label {
  outline: none;
  /* focus style */
}

section.orderer .input_check p {
  display: inline-block;
}

section.orderer .input_check p > span {
  letter-spacing: 3px;
  font-weight: 900;
}

section.orderer .discount_group {
  display: inline-block;
}

section.orderer .discount_group label, section.orderer .discount_group input {
  display: inline-block;
}

section.orderer .discount_group input {
  width: 30%;
}

section.orderer .credit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.orderer .credit .input_check {
  width: 100%;
}

section.orderer .credit span {
  margin: 0 4px;
}

section.orderer .credit .credit_number, section.orderer .credit .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  margin-left: 56px;
}

section.orderer .credit .credit_number div, section.orderer .credit .date div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

section.orderer .credit .credit_number div input, section.orderer .credit .date div input {
  width: 15%;
}

section.orderer .credit .credit_number .terms, section.orderer .credit .date .terms {
  width: 30%;
}

section.orderer .button_min {
  background-color: #AD6E4A;
  color: #ffffff;
  position: absolute;
  right: 5%;
  bottom: 0;
}
/*# sourceMappingURL=shop_order.css.map */