html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
}

input[type=button], input[type=submit], input[type=file], button {
  cursor: pointer;
  -webkit-appearance: none;
}

body {
  font-family: "Microsoft JhengHei", "sans-serif";
  color: #C9ADA7;
  font-size: 14px;
  background-color: #0c0d18;
  overflow-x: hidden;
  -o-user-select: none;
  user-select: none;
}

h1, .h1 {
  font-size: 32px;
}

h2, .h2 {
  font-size: 24px;
}

h3, .h3 {
  font-size: 18px;
}

h4, .h4 {
  font-size: 16px;
}

p, .p {
  font-size: 14px;
}

small, .small {
  font-size: 12px;
}

.line_high {
  line-height: 50px;
}

.line_low {
  line-height: 32px;
}

@font-face {
  font-family: "Microsoft JhengHei",  "Nasalization", "adobe-std-b";
  src: local("./fonts/msjh.ttc"), local("./fonts/msjhbd.ttc"), local("./fonts/HATTEN.TTF"), local("./fonts/Nasa.ttf"), local("./fonts/adobe-std-b.otf");
}

.padding_left_1 {
  padding-left: 8px;
}

.padding_left_2 {
  padding-left: 16px;
}

.padding_left_3 {
  padding-left: 24px;
}

.padding_left_4 {
  padding-left: 32px;
}

.padding_left_5 {
  padding-left: 40px;
}

.padding_left_6 {
  padding-left: 48px;
}

.padding_left_7 {
  padding-left: 56px;
}

.padding_left_8 {
  padding-left: 64px;
}

.padding_left_9 {
  padding-left: 72px;
}

.padding_left_10 {
  padding-left: 80px;
}

.padding_top_1 {
  padding-top: 8px;
}

.padding_top_2 {
  padding-top: 16px;
}

.padding_top_3 {
  padding-top: 24px;
}

.padding_top_4 {
  padding-top: 32px;
}

.padding_top_5 {
  padding-top: 40px;
}

.padding_top_6 {
  padding-top: 48px;
}

.padding_top_7 {
  padding-top: 56px;
}

.padding_top_8 {
  padding-top: 64px;
}

.padding_top_9 {
  padding-top: 72px;
}

.padding_top_10 {
  padding-top: 80px;
}

.padding_top_11 {
  padding-top: 88px;
}

.padding_top_12 {
  padding-top: 96px;
}

.padding_top_13 {
  padding-top: 104px;
}

.padding_top_14 {
  padding-top: 112px;
}

.padding_top_15 {
  padding-top: 120px;
}

.margin_left_1 {
  margin-left: 8px;
}

.margin_left_2 {
  margin-left: 16px;
}

.margin_left_3 {
  margin-left: 24px;
}

.margin_left_4 {
  margin-left: 32px;
}

.margin_left_5 {
  margin-left: 40px;
}

.margin_left_6 {
  margin-left: 48px;
}

.margin_left_7 {
  margin-left: 56px;
}

.margin_left_8 {
  margin-left: 64px;
}

.margin_left_9 {
  margin-left: 72px;
}

.margin_left_10 {
  margin-left: 80px;
}

.margin_top_1 {
  margin-top: 8px;
}

.margin_top_2 {
  margin-top: 16px;
}

.margin_top_3 {
  margin-top: 24px;
}

.margin_top_4 {
  margin-top: 32px;
}

.margin_top_5 {
  margin-top: 40px;
}

.margin_top_6 {
  margin-top: 48px;
}

.margin_top_7 {
  margin-top: 56px;
}

.margin_top_8 {
  margin-top: 64px;
}

.margin_top_9 {
  margin-top: 72px;
}

.margin_top_10 {
  margin-top: 80px;
}

.margin_top_11 {
  margin-top: 88px;
}

.margin_top_12 {
  margin-top: 96px;
}

.margin_top_13 {
  margin-top: 104px;
}

.margin_top_14 {
  margin-top: 112px;
}

.margin_top_15 {
  margin-top: 120px;
}

.button_large {
  width: 150px;
  padding: 8px 0;
  text-align: center;
  border: 1px solid #AD6E4A;
}

.button_min {
  width: 100px;
  padding: 8px 0;
  text-align: center;
  border: 1px solid #AD6E4A;
}

.icon {
  max-width: 20px;
}

.container {
  margin: 0 auto;
  padding-top: 15vh;
}

canvas {
  display: block;
}

/* ---- particles.js container ---- */
#particles-js {
  z-index: -10;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #0c0d18;
}

body {
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  background-color: #0c0d18;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 12vh;
  z-index: 9999;
}

nav .logo h1 a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url("../../img/logo.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 200px;
  height: 30px;
  margin: 0 8px;
}

nav .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  width: 75%;
}

nav .nav-links a {
  width: 100%;
  color: #ffffff;
  padding: 8px;
}

nav .nav-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 12%;
  margin-left: 50px;
}

nav .burger {
  display: none;
  cursor: pointer;
  margin-left: 8px;
}

nav .burger div {
  width: 25px;
  height: 2px;
  background-color: #ffffff;
  margin: 5px;
  transition: all .3s ease;
}

nav .nav-cart {
  cursor: pointer;
}

@media (max-width: 992px) {
  nav {
    justify-content: space-around;
  }
  nav .nav-links {
    position: absolute;
    right: -100%;
    height: 88vh;
    top: 12vh;
    background-color: #AD6E4A;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    transition: all .5s ease-in;
  }
  nav .nav-links li {
    width: 100%;
    text-align: center;
    margin-left: 0;
    opacity: 0;
  }
  nav .nav-links li a {
    display: block;
    padding: 24px 0;
  }
  nav .nav-icons {
    width: 100%;
    justify-content: flex-end;
  }
  nav .nav-icons .icon {
    margin: 0 30px 0 15px;
  }
  nav .burger {
    display: block;
  }
  nav .nav-active {
    right: 0%;
  }
}

@media (max-width: 768px) {
  nav .logo {
    margin: 0 8px;
  }
  nav .nav-links {
    width: 100%;
  }
  nav .nav-icons {
    width: 50%;
    margin-left: 16px;
    justify-content: space-between;
  }
  nav .nav-icons .icon {
    margin: 0;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(45deg) translate(4px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(-45deg) translate(3px, -6px);
}

footer {
  background-color: #0c0d18;
  position: relative;
}

footer .links {
  position: absolute;
  bottom: 20%;
  width: 100%;
  z-index: 1;
}

footer .links .logo {
  max-width: 128px;
  position: relative;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
}

footer .links .footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 55%;
  position: relative;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}

footer .links .footer-links a {
  color: #ffffff;
}

footer .footer_moon {
  position: relative;
  left: 50%;
  max-width: 40%;
  transform: translateX(-50%);
}

footer .smoke {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 80%;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  footer .links .logo {
    bottom: 0;
  }
  footer .links .footer-links {
    display: none;
  }
  footer .footer_moon {
    min-width: 250px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.container {
  margin: 0 auto;
  padding-bottom: 80px;
}

.swiper-container {
  margin: 0 auto;
  max-width: 1100px;
}

@media all and (max-width: 1200px) {
  .swiper-container {
    width: 95%;
  }
}

.swiper-container .trippic {
  width: 750px;
}

.parent_container {
  max-width: 1200px;
  margin: 0 auto;
}

.parent_container .up_container {
  margin: 0 auto;
  width: 100%;
}

.parent_container .up_container .trip_content_all {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
}

@media all and (max-width: 767px) {
  .parent_container .up_container .trip_content_all {
    width: 90%;
    margin: 0 auto;
  }
}

.parent_container .up_container .trip_content_all .trip_title {
  display: inline-flex;
  align-items: baseline;
  justify-content: flex-start;
  width: 100%;
  font-weight: bold;
  position: relative;
}

@media all and (max-width: 768px) {
  .parent_container .up_container .trip_content_all .trip_title {
    font-size: 16px;
  }
}

.parent_container .up_container .trip_content_all .trip_title .number {
  background-color: #AD6E4A;
  padding: 8px;
}

.parent_container .up_container .trip_content_all .trip_title .trip_bookmark {
  background-image: url(../../img/icon/bookmark-outline.png);
  background-size: 25px;
  background-repeat: no-repeat;
  width: 25px;
  height: 30px;
  background-size: 25px;
  padding: 8px;
  padding-right: 0px;
  position: absolute;
  top: 5px;
  right: 0px;
  text-align: end;
  cursor: pointer;
}

.parent_container .up_container .trip_content_all .trip_title .trip_bookmark:hover {
  background-image: url(../../img/icon/bookmark_hover.png);
}

.parent_container .up_container .trip_content_all div.tab_container div.tab_contents div.tab {
  display: none;
}

.parent_container .up_container .trip_content_all div.tab_container div.tab_contents div.tab.-on {
  display: block;
}

.parent_container .up_container .trip_content_all .tab_list_block {
  list-style: none;
}

.parent_container .up_container .trip_content_all .tab_list_block li {
  display: inline-block;
}

.parent_container .up_container .trip_content_all .tab_list_block li a {
  text-decoration: none;
  color: #AD6E4A;
  font-weight: bold;
  padding-bottom: 12px;
}

.parent_container .up_container .trip_content_all .tab_contents {
  border-top: 1px solid #AD6E4A;
  letter-spacing: 1.5px;
}

.parent_container .up_container .trip_content_all .tab_contents .tag {
  display: inline-flex;
  border: 1px solid #C9ADA7;
  border-radius: 5px;
  padding: 8px;
  line-height: 5px;
  margin: 3px;
  color: #cccaca;
}

.parent_container .up_container .trip_content_all .tab_contents .g {
  color: #AD6E4A;
}

.parent_container .up_container .trip_content_all a.-on {
  border-bottom: 4px solid #AD6E4A;
  width: 70px;
  text-align: center;
}

.parent_container .up_container .book {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #AD6E4A;
  padding: 20px;
  position: sticky;
  top: 96px;
  z-index: 2;
  background-color: #0c0d18;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .parent_container .up_container .book {
    margin-left: 16px;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .parent_container .up_container .book {
    width: 360px;
    position: relative;
    margin: 0 10px;
  }
}

@media all and (max-width: 576px) {
  .parent_container .up_container .book {
    top: 32px;
    width: 85%;
    position: relative;
    margin: 0 5px;
  }
}

.parent_container .up_container .book h3 {
  font-weight: bold;
}

@media all and (max-width: 768px) {
  .parent_container .up_container .book h3 {
    font-size: 16px;
  }
}

.parent_container .up_container .book .price_dis {
  color: #cccaca;
}

.parent_container .up_container .book .price {
  color: #AD6E4A;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: "Nasalization";
}

.parent_container .up_container .book hr {
  border: 0;
  height: 0.5px;
  background: #AD6E4A;
  opacity: 0.5;
}

.parent_container .up_container .book .select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media all and (max-width: 1200px) {
  .parent_container .up_container .book .select {
    flex-direction: column;
  }
}

.parent_container .up_container .book .select .date .date_text {
  color: #AD6E4A;
  font-weight: bold;
}

.parent_container .up_container .book .select .date .btn-date {
  letter-spacing: 2px;
  padding: 0 5px;
  border: 1px solid #AD6E4A;
  color: #AD6E4A;
  background-color: #0c0d18;
  height: 25px;
  text-align: center;
  width: 180px;
}

.parent_container .up_container .book .select .date ::-webkit-calendar-picker-indicator {
  color: #AD6E4A;
  background-image: url(../../img/date-chevron-down.svg);
  width: 15px;
  height: 25px;
  position: relative;
  top: 5px;
}

.parent_container .up_container .book .select .amount {
  margin-right: 15px;
}

@media all and (max-width: 1200px) {
  .parent_container .up_container .book .select .amount {
    margin-top: 6px;
  }
}

.parent_container .up_container .book .select .amount .date_text {
  color: #AD6E4A;
  font-weight: bold;
}

.parent_container .up_container .book .select .amount .btn-pull {
  color: #AD6E4A;
  background-color: #0c0d18;
  font-size: 14px;
  border: 1px solid #AD6E4A;
  width: 25px;
  height: 25px;
  line-height: 0px;
  padding-bottom: 1px;
}

.parent_container .up_container .book .select .amount .btn-nu {
  color: #AD6E4A;
  background-color: #0c0d18;
  border: 0px solid #AD6E4A;
  width: 30px;
  height: 30px;
  line-height: 0px;
  text-align: center;
  outline: none;
  padding-left: 12px;
  padding-right: 12px;
}

.parent_container .up_container .book .total {
  color: #AD6E4A;
  text-align: right;
  padding-right: 16px;
  font-weight: bold;
  font-family: "Nasalization";
  letter-spacing: 2px;
}

.parent_container .up_container .book .btn {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin-right: 15px;
}

.parent_container .up_container .book .btn .addin {
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 15px;
  width: 110px;
  line-height: 26px;
  text-align: center;
}

.parent_container .up_container .book .btn .addin a {
  color: #ffffff;
  display: inline-block;
}

.parent_container .up_container .book .btn .addin img.plus {
  width: 15px;
  display: inline-block;
  position: relative;
  top: 2px;
  padding-right: 4px;
}

.parent_container .up_container .book .btn .addin:hover {
  border: 1px solid #cccaca;
  color: #cccaca;
}

.parent_container .up_container .book .btn .button_min {
  background-color: #AD6E4A;
  color: #ffffff;
  padding: 0 8px 0 8px;
}

.parent_container .up_container .book .btn .button_min a {
  color: #ffffff;
  display: inline-block;
}

.parent_container .up_container .book .btn .button_min:hover {
  background-color: #bf896b;
}

.parent_container .up_container .comment {
  width: 50%;
  padding: 20px;
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .parent_container .up_container .comment {
    width: 365px;
  }
}

@media all and (max-width: 576px) {
  .parent_container .up_container .comment {
    width: 90%;
    position: relative;
    margin: 0 auto;
    padding-top: 80px;
  }
}

.parent_container .up_container .comment .score {
  display: flex;
  align-items: center;
  position: relative;
}

.parent_container .up_container .comment .score .number {
  background-color: #AD6E4A;
  padding: 8px;
}

.parent_container .up_container .comment .score .stars {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent_container .up_container .comment .score .stars .star {
  margin-left: 4px;
}

.parent_container .up_container .comment .score .stars .icon {
  width: 15px;
}

.parent_container .up_container .comment .score .more {
  position: absolute;
  right: 0;
  text-decoration: underline;
  cursor: pointer;
}

.parent_container .up_container .comment .messages {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #AD6E4A;
  padding: 16px 0;
  position: relative;
}

.parent_container .up_container .comment .messages img {
  max-width: 50px;
  top: 50px;
}

.parent_container .up_container .comment .messages .name {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
}

.parent_container .up_container .comment .messages .name hr {
  height: 10px;
  background-color: #C9ADA7;
  border: 1px solid #C9ADA7;
  margin: 0 8px;
}

.parent_container .up_container .comment .messages .more {
  position: absolute;
  right: 0;
  bottom: 16px;
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
}

@media all and (max-width: 767px) {
  .parent_container .up_container .comment .messages .more {
    bottom: 10px;
  }
}

.parent_container .recommend {
  margin: 0 auto;
  padding-bottom: 80px;
}

.parent_container .recommend h3 {
  text-align: center;
}

.parent_container .recommend .tripcard_all {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

@media all and (max-width: 767px) {
  .parent_container .recommend .tripcard_all {
    flex-direction: column;
    align-items: center;
  }
}

.parent_container .recommend .tripcard_all .tripcard {
  width: 250px;
  background-color: #191919;
  padding: 15px;
  border-radius: 5px;
  position: relative;
  margin: 0 16px 0 16px;
}

.parent_container .recommend .tripcard_all .tripcard:hover {
  transform: translateY(0.15em);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.parent_container .recommend .tripcard_all .tripcard.tripcard:nth-child(1) {
  animation: float 3s cubic-bezier(0.1, 0.1, 0.88, 0.88) infinite;
}

.parent_container .recommend .tripcard_all .tripcard.tripcard:nth-child(2) {
  animation: float 3.5s cubic-bezier(0.1, 0.1, 0.88, 0.88) infinite;
}

.parent_container .recommend .tripcard_all .tripcard.tripcard:nth-child(3) {
  animation: float 4.5s cubic-bezier(0.1, 0.1, 0.88, 0.88) infinite;
}

.parent_container .recommend .tripcard_all .tripcard.tripcard:nth-child(4) {
  animation: float 5s cubic-bezier(0.1, 0.1, 0.88, 0.88) infinite;
}

@media all and (max-width: 767px) {
  .parent_container .recommend .tripcard_all .tripcard {
    flex-direction: column;
    margin: 16px 0 16px 0;
  }
}

.parent_container .recommend .tripcard_all .tripcard .spot_pic {
  width: 250px;
}

.parent_container .recommend .tripcard_all .tripcard .spot_pic:hover {
  transform: perspective(0.5px) translateX(-1.5px) translateY(-1.5px);
}

.parent_container .recommend .tripcard_all .tripcard .hot2 {
  font-weight: bold;
  margin-bottom: 15px;
}

.parent_container .recommend .tripcard_all .tripcard .tag {
  display: inline-flex;
  border: 1px solid #C9ADA7;
  border-radius: 5px;
  padding: 8px;
  line-height: 5px;
  margin: 3px;
}

.parent_container .recommend .tripcard_all .tripcard .price2 {
  color: #AD6E4A;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: "Nasalization";
  padding-left: 5px;
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.parent_container .recommend .tripcard_all .tripcard .addin2 {
  background-color: #AD6E4A;
  color: #ffffff;
  border-radius: 15px;
  width: 110px;
  line-height: 26px;
  text-align: center;
}

.parent_container .recommend .tripcard_all .tripcard .addin2 img.plus {
  width: 15px;
  display: inline-block;
  position: relative;
  top: 2px;
  padding-right: 4px;
}

.parent_container .recommend .tripcard_all .tripcard .addin2:hover {
  background-color: #bf896b;
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(0, -3px);
  }
  70% {
    transform: translate(0, 5px);
  }
  100% {
    transform: translate(0, 0);
  }
}
/*# sourceMappingURL=trip.css.map */